<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix" style="line-height: 34px;">
              	<span style="float:left;">友情链接</span>
              	<a href="javascript:void(0)" class="btn btn-danger" onclick="commonUtil.goPage('friendlyurl')" style="display:inline-block;float:right;">添加</a>
            </div>
            <div class="span12" id="div-table-container"></div>
            <!-- /.panel-heading -->
            <div class="panel-body" >
            	<div>
            		<hr>
           			<form id="searchForm">
           			           <input type="hidden" name="type" value="4"/>
           				标题：<input name="title" class="form-control" style="width: 120px;display:inline-block;">
           				
           				创建时间：<input type="text" id="start" name="createTimeBegin" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'end\')}'})" class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
           					-<input type="text" id="end" name="createTimeEnd" onclick="WdatePicker({minDate:'#F{$dp.$D(\'start\')}'})" class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
           			         状态：<select name="state" class="form-control" style="width: 120px;display:inline-block;">
           						<option value="-999">全部</option>
           						<option value="2">上架</option>
           						<option value="3">下架</option>
           					</select>
            			<a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
            			<a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
           			</form>
            		<hr>
            	</div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>

<script>
var columns =  [
         		{ title:"标题",data: "title", width:140,
         			render: function (value, type, row, meta) {
         			    return commonUtil.getTextByLength(value, 10);
         		    }	
         		},
         		{ title:"URL",data: "url", className:"dt-simple",
         			render: function (value, type, row, meta) {
         			    return value;
         		    }	
         		},
         		{ title:"创建时间",data: "createTime",className:"dt-simple",
         			render: function (value, type, row, meta) {
         		    	return dateUtil.date(value);
         			}
         		},
         	
         		{ title:"状态",data: "state",className:"dt-simple",
         			render: function (value, type, row, meta) {
         				return DIC_CONSTANT.getName("info", "state", value);
         		    }
         		},
         		{
         			title:"操作",
         			data: null,
         			className:"dt-operate",
         		    render: function (data, type, row, meta) {
         		    	//详情按钮
         		    	var btn =
							commonUtil.createDirectRequestBtn({param:row.id,target:'friendlyurlDeatil'},"详细信息","fa-list",1);
         		    	if(row.state == 3 || row.state==1){
         		    		btn = btn + commonUtil.createConfirmRequestBtn({id:row.id, state:2, ajaxUrl:"informationNewsController/updateInformationNewsById"}, "上架", "资讯友情链接的操作(上架)", "确定上架资讯友情链接?", "fa-long-arrow-up");
         		    	}
         		    	if(row.state == 2){
         		    		btn = btn + commonUtil.createConfirmRequestBtn({id:row.id, state:3, ajaxUrl:"informationNewsController/updateInformationNewsById"}, "下架", "资讯友情链接操作(下架)", "确定下架资讯友情链接?", "fa-long-arrow-down");
         		    	}else {
         		    		//修改按钮,已上架的记录不允许修改,反之允许修改
                            btn = btn + commonUtil.createDirectRequestBtn({param:row.id,row:row,target:'friendlyurl'},"修改","fa-edit");
                        }
                        //删除按钮
         		    	btn = btn + commonUtil.createConfirmRequestBtn({id:row.id, state:0, ajaxUrl:"informationNewsController/updateInformationNewsById"}, "删除", "资讯友情链接操作(删除)", "确定删除资讯友情链接?", "fa-times");
         			    return btn;
         		    }
         		}
         	];
//创建dataTable列表
dataTableUtil.createDT(CONFIG.interface.searchInfomations, columns);
//初始化查询条件form
dataTableUtil.initDTSearchForm();
</script>
