<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="line-height: 34px;">
                <span style="float:left;">积分商户列表</span>
                <a href="javascript:void(0)" class="btn btn-danger" onclick="commonUtil.goPage('pointMerchantInfoEdit')" style="display:inline-block;float:right;">添加积分商户</a>
            </div>
            <div class="panel-body">
                <div>
                    <hr>
                    <form id="searchForm">
                        商户名称：<input name="merchantName" class="form-control"  style="width: 120px;display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;
                        编号：<input name="merchantCode" class="form-control"  style="width: 120px;display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;
                        联系人姓名：<input name="userName" class="form-control"  style="width: 120px;display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>               
                        联系人手机：<input name="tel" class="form-control" validate="tel" style="width: 120px;display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;
                        商户状态：<select name="state" id="state" class="form-control"  style="width: 120px;display:inline-block;"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
                        <a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
                    </form>
                    <hr>
                </div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>
<script>
    var columns = [
        {title:"商户名称",data:"merchantName",className:"dt-simple"},
        {title:"商户编号",data:"merchantCode",className:"dt-simple"},
        {title:"联系人",data:"userName",className:"dt-simple"},
        {title:"联系人手机号",data:"tel",className:"dt-simple"},
        {title:"店铺状态",data:"state",className:"dt-simple",render:function (data, type, row, meta) {
            return DIC_CONSTANT.getName("pointMerchant", "state", data);
        }},
        {title:"备注",data:"note",className:"dt-simple"},
        {title:"审核信息",data:"reason",className:"dt-simple"},
        {title:"操作",data:null,className:"dt-simple",render:function (data,type,row,meta) {
            //详情
            var btn =
                commonUtil.createDirectRequestBtn({id:row.id,target:'pointMerchantInfoDetail'},"详细信息","fa-list",1)+'&nbsp;&nbsp;';
            if(row.state!=2){
                //修改
                btn +=
                    commonUtil.createDirectRequestBtn({id:row.id,isUptate:true,target:'pointMerchantInfoEdit'},'修改','fa-edit',1)+'&nbsp;&nbsp;'
            }
            if(row.state==1){
                //审核
                btn+='<a href="javascript:void(0)"  title="审核" onclick="createCheckPanel('+row.id+')"  class="fa fa-th fa-gavel hide-underline" style="padding-left: 3px;padding-right: 3px;"></a>&nbsp;&nbsp;'
            }
                //删除
            btn += commonUtil.createConfirmRequestBtn({id:row.id,ajaxUrl:"pointMerchantController/delete"}, "移除商户", "删除",
                "确定删除商户【"+row.merchantName+"】信息?", "fa fa-times fa-remove hide-underline")+'&nbsp;&nbsp;';
            if(row.state==3){
                //二维码
                btn+='<a  href="javascript:window.open(\''+CONFIG.CONSTANTS.IMG_URL_HKJF_ROOT + row.gatheringUrl+'\')" title="二维码"  download  class="fa fa-th fa-qrcode hide-underline" style="padding-left: 3px;padding-right: 3px;"></a>&nbsp;&nbsp;'
            }
            return btn;

        }}
    ]
    //创建dataTable列表
    dataTableUtil.createDT(CONFIG.interface.pointMerchantList,columns);
    //初始化查询条件form
    dataTableUtil.initDTSearchForm();

    //商铺审核
    var validateCheck=function() {
        if(commonUtil.isEmpty($("#checkReasonArea").val())){
            $("#checkPacketErro").text('请填写审核原因!');
            return false;
        }
        return true;
    }


    //创建审核面板
    var createCheckPanel=function(id) {
        $("#ids").attr("name", "id");
        $("#ids").val(id);
        var contents = '审核结果：<input  name="state" type="radio" value="3" checked="checked"/>通过 <input name="state" value="2" type="radio" />拒绝 <br><br>';
        contents+='审核原因：<input id="checkReasonArea" name="reason" type="text" class="confirmChildren"/> <br><br>';
        contents+='<span id="checkPacketErro" style="color: red"></span>'
        commonUtil.createCustomConfirmBox("商户信息审核",contents,CONFIG.interface.checkPointMerchant,validateCheck,commonUtil.customConfirmStandardAfterExecuteFn);
    }


</script>