<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix" style="line-height: 34px;">
              	<span style="float:left;">标的统计</span>
            </div>
            <div class="span12" id="div-table-container"></div>
            <!-- /.panel-heading -->
            <div class="panel-body" >
            	<div>
            		<hr>
           			<form id="searchForm">
						标的名称：<input name="name" class="form-control" style="width: 120px;display:inline-block;" />&nbsp;&nbsp;&nbsp;&nbsp;
						标的类型：
                            <select name="productType" class="form-control" style="width: 120px;display:inline-block;">
                                <option value="0">散标</option>
                                <option value="1" select="selected">优选</option>
                            </select>&nbsp;&nbsp;&nbsp;&nbsp;
						创建日期：<input type="text" id="start" name="createTimeBegin" onclick="WdatePicker()" class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
									-<input type="text" id="end" name="createTimeEnd" onclick="WdatePicker()" class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
            			<a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
            			<a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
						<a href="javascript:void(0)" class="btn btn-primary" id="excelBtn" onClick="exportExcel('标的统计')" style="display:inline-block;">导出</a>
           			</form>
            		<hr>
            	</div>

                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%"></table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>

<script>
var columns =  [
		{ title:"借款标题",className:"dt-simple",data: "name"},
		{ title:"借款人手机号",className:"dt-simple",data: "login"},
		{ title:"借款人姓名",className:"dt-simple",data: "realName"},
		{ title:"借款方类型",className:"dt-simple",data: "",
            render: function (value, type, row, meta) {
                return DIC_CONSTANT.getName("user", "type", row.userType);
            }
        },
        { title:"显示平台",className:"dt-simple",data: "showPosition",
            render: function (value, type, row, meta) {
                var tmp = value + "";
                var rs = "";
                if(tmp.indexOf("1") > -1){
                    rs += DIC_CONSTANT.getName("invest", "bid_show_position", 1) + " ";
                }
                if(tmp.indexOf("2") > -1){
                    rs += DIC_CONSTANT.getName("invest", "bid_show_position", 2);
                }
                return rs;
            }
        },
        { title:"投资平台",className:"dt-simple",data: "investPosition",
            render: function (value, type, row, meta) {
                var tmp = value + "";
                var rs = "";
                if(tmp.indexOf("1") > -1){
                    rs += DIC_CONSTANT.getName("invest", "bid_invest_position", 1) + " ";
                }
                if(tmp.indexOf("2") > -1){
                    rs += DIC_CONSTANT.getName("invest", "bid_invest_position", 2);
                }
                return rs;
            }
        },
        { title:"app标签内容",className:"dt-simple",data: "labelText"},
        { title:"借款金额",className:"dt-simple",data: "totalAmount"},
        { title:"借款用途",className:"dt-simple",data: "loanUse",
            render: function (value, type, row, meta) {
                return DIC_CONSTANT.getName("invest", "bid_loan_use", value);
            }
        },
        { title:"借款期限",className:"dt-simple",data: "",
            render: function (value, type, row, meta) {
                return row.termValue + "(" + DIC_CONSTANT.getName("invest", "bid_term_unit", row.termUnit) + ")";
            }
        },
        { title:"年利率(%)",className:"dt-simple",data: "interestRate"},
        { title:"还款方式",className:"dt-simple",data: "biddRepaymentWay",
            render: function (value, type, row, meta) {
                return DIC_CONSTANT.getName("invest", "bid_repayment", value);
            }
        },
        { title:"状态",className:"dt-simple",data: "state",
            render: function (value, type, row, meta) {
                return DIC_CONSTANT.getName("invest", "bid_state", value);
            }
        },
        { title:"创建时间",className:"dt-simple",data: "createTime",
            render: function (value, type, row, meta) {
                return dateUtil.date(value);
            }
        },
        { title:"计息时间",className:"dt-simple",data: "lendingTime",
            render: function (value, type, row, meta) {
                return dateUtil.date(value);
            }
        },
        { title:"到期时间",className:"dt-simple",data: "lendingTime",
            render: function (value, type, row, meta) {
                return dateUtil.date(value);
            }
        },
        { title:"满标期限",className:"dt-simple",data: "endTime",
            render: function (value, type, row, meta) {
                return dateUtil.date(value);
            }
        },
        { title:"手续费率",className:"dt-simple",data: "commissionRate"},
        { title:"服务费率",className:"dt-simple",data: "serviceRate"},
        { title:"预留利息",className:"dt-simple",data: "reserveInterest",
            render: function (value, type, row, meta) {
                return value == 1 ? "是" : "否";
            }
        },
        { title:"新手标",className:"dt-simple",data: "productType",
            render: function (value, type, row, meta) {
                return value == 1 ? "是" : "否";
            }
        },
        { title:"提前结清",className:"dt-simple",data: "advanceRepayState",
            render: function (value, type, row, meta) {
                return value == 1 ? "是" : "否";
            }
        },
        { title:"赠送积分",className:"dt-simple",data: "givingPointState",
            render: function (value, type, row, meta) {
                return value == 1 ? "是" : "否";
            }
        },
        { title:"推荐奖",className:"dt-simple",data: "recommendState",
            render: function (value, type, row, meta) {
                return value == 1 ? "是" : "否";
            }
        },
        { title:"产品名称",className:"dt-simple",data: "bidProductName"},
		{ title:"产品类型",className:"dt-simple",data: "productType",
            render: function (value, type, row, meta) {
                return DIC_CONSTANT.getName("invest", "product_type", value);
            }
        },
        { title:"总利息",className:"dt-simple",data: "interestAmount",
            render: function (value, type, row, meta) {
                if(commonUtil.isEmpty(value)){
                    return 0;
                }
                return value;
            }
        },
        { title:"已还本金",className:"dt-simple",data: "repayedcaptailAmount",
            render: function (value, type, row, meta) {
                if(commonUtil.isEmpty(value)){
                    return 0;
                }
                return value;
            }
        },
        { title:"已还利息",className:"dt-simple",data: "repayedInterestAmount",
            render: function (value, type, row, meta) {
                if(commonUtil.isEmpty(value)){
                    return 0;
                }
                return value;
            }
        },
        { title:"最近已还款时间" ,className:"dt-simple",data: "latestRepayedTime",
            render: function (value, type, row, meta) {
                if(commonUtil.isEmpty(value)){
                    return "-";
                }
                return dateUtil.date(value);
            }
        }
 	];
//创建dataTable列表
dataTableUtil.createDT(CONFIG.interface.staFunBid, columns);
//初始化查询条件form
dataTableUtil.initDTSearchForm();
</script>
