<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.property.model.ProAddress">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_ProAddress" type="com.hongkun.finance.property.model.ProAddress">
		<result property="id" column="id"/>
		<result property="regUserId" column="reg_user_id"/>
		<result property="userName" column="user_name"/>
		<result property="proId" column="pro_id"/>
		<result property="proName" column="pro_name"/>
		<result property="communityId" column="community_id"/>
		<result property="communityName" column="community_name"/>
		<result property="floor" column="floor"/>
		<result property="unit" column="unit"/>
		<result property="door" column="door"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="note" column="note"/>
		<result property="state" column="state"/>
		<result property="address" column="address"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,reg_user_id,user_name,pro_id,pro_name,community_id,community_name,floor,unit,door,create_time,modify_time,note,state,address
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pro_address ( 
			<if test="id != null">
				id ,
			</if>
			<if test="regUserId != null">
				reg_user_id ,
			</if>
			<if test="userName != null and userName != ''">
				user_name ,
			</if>
			<if test="proId != null">
				pro_id ,
			</if>
			<if test="proName != null and proName != ''">
				pro_name ,
			</if>
			<if test="communityId != null">
				community_id ,
			</if>
			<if test="communityName != null and communityName != ''">
				community_name ,
			</if>
			<if test="floor != null and floor != ''">
				floor ,
			</if>
			<if test="unit != null and unit != ''">
				unit ,
			</if>
			<if test="door != null and door != ''">
				door ,
			</if>
				create_time ,
				modify_time ,
				note ,
				state ,
				address 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="regUserId != null">
				#{regUserId} ,
			</if>
			<if test="userName != null and userName != ''">
				#{userName} ,
			</if>
			<if test="proId != null">
				#{proId} ,
			</if>
			<if test="proName != null and proName != ''">
				#{proName} ,
			</if>
			<if test="communityId != null">
				#{communityId} ,
			</if>
			<if test="communityName != null and communityName != ''">
				#{communityName} ,
			</if>
			<if test="floor != null and floor != ''">
				#{floor} ,
			</if>
			<if test="unit != null and unit != ''">
				#{unit} ,
			</if>
			<if test="door != null and door != ''">
				#{door} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="note != null">
					#{note} ,
				</when>
				<otherwise>
					 ,
				</otherwise>
			</choose>
			<choose>
				<when test="state != null">
					#{state} ,
				</when>
				<otherwise>
					 '1',
				</otherwise>
			</choose>
			<choose>
				<when test="address != null">
					#{address}
				</when>
				<otherwise>
					 ''
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO pro_address (
        	id ,
        	reg_user_id ,
        	user_name ,
        	pro_id ,
        	pro_name ,
        	community_id ,
        	community_name ,
        	floor ,
        	unit ,
        	door ,
        	create_time ,
        	modify_time ,
        	note ,
        	state ,
        	address 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.regUserId != null">
					#{item.regUserId} ,
				</if>
				<if test="item.regUserId == null">
					DEFAULT ,
				</if>
				<if test="item.userName != null and item.userName != ''">
					#{item.userName} ,
				</if>
				<if test="item.userName == null or item.userName == ''">
					DEFAULT ,
				</if>
				<if test="item.proId != null">
					#{item.proId} ,
				</if>
				<if test="item.proId == null">
					DEFAULT ,
				</if>
				<if test="item.proName != null and item.proName != ''">
					#{item.proName} ,
				</if>
				<if test="item.proName == null or item.proName == ''">
					DEFAULT ,
				</if>
				<if test="item.communityId != null">
					#{item.communityId} ,
				</if>
				<if test="item.communityId == null">
					DEFAULT ,
				</if>
				<if test="item.communityName != null and item.communityName != ''">
					#{item.communityName} ,
				</if>
				<if test="item.communityName == null or item.communityName == ''">
					DEFAULT ,
				</if>
				<if test="item.floor != null and item.floor != ''">
					#{item.floor} ,
				</if>
				<if test="item.floor == null or item.floor == ''">
					DEFAULT ,
				</if>
				<if test="item.unit != null and item.unit != ''">
					#{item.unit} ,
				</if>
				<if test="item.unit == null or item.unit == ''">
					DEFAULT ,
				</if>
				<if test="item.door != null and item.door != ''">
					#{item.door} ,
				</if>
				<if test="item.door == null or item.door == ''">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.note != null and item.note != ''">
					#{item.note} ,
				</if>
				<if test="item.note == null or item.note == ''">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
				<if test="item.address != null and item.address != ''">
					#{item.address} 
				</if>
				<if test="item.address == null or item.address == ''">
					DEFAULT 
				</if>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="regUserId != null">
			reg_user_id = #{regUserId} ,
		   </if>
			<if test="userName != null and userName != ''">
				user_name = #{userName} ,
			</if>
			<if test="proId != null">
			pro_id = #{proId} ,
		   </if>
			<if test="proName != null and proName != ''">
				pro_name = #{proName} ,
			</if>
			<if test="communityId != null">
			community_id = #{communityId} ,
		   </if>
			<if test="communityName != null and communityName != ''">
				community_name = #{communityName} ,
			</if>
			<if test="floor != null and floor != ''">
				floor = #{floor} ,
			</if>
			<if test="unit != null and unit != ''">
				unit = #{unit} ,
			</if>
			<if test="door != null and door != ''">
				door = #{door} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} ,
			</if>
			<if test="note != null and note != ''">
				note = #{note} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="address != null and address != ''">
				address = #{address} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  pro_address
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM pro_address 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_ProAddress">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM pro_address 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
			<if test="userName != null and userName !=''">
			AND user_name = #{userName}
			</if>
			<if test="proId != null">
			AND pro_id = #{proId}
			</if>
			<if test="proName != null and proName !=''">
			AND pro_name = #{proName}
			</if>
			<if test="communityId != null">
			AND community_id = #{communityId}
			</if>
			<if test="communityName != null and communityName !=''">
			AND community_name = #{communityName}
			</if>
			<if test="floor != null and floor !=''">
			AND floor = #{floor}
			</if>
			<if test="unit != null and unit !=''">
			AND unit = #{unit}
			</if>
			<if test="door != null and door !=''">
			AND door = #{door}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
			<if test="note != null and note !=''">
			AND note = #{note}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
			<if test="address != null and address !=''">
			AND address = #{address}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM pro_address 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_ProAddress">
		SELECT <include refid="columns" />
		FROM pro_address 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
