<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.qdz.model.QdzAccount">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_QdzAccount" type="com.hongkun.finance.qdz.model.QdzAccount">
		<result property="id" column="id"/>
		<result property="regUserId" column="reg_user_id"/>
		<result property="money" column="money"/>
		<result property="creditorMoney" column="creditor_money"/>
		<result property="yedInterest" column="yed_interest"/>
		<result property="totalInterest" column="total_interest"/>
		<result property="interestRate" column="interest_rate"/>
		<result property="interestDay" column="interest_day"/>
		<result property="state" column="state"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,reg_user_id,money,creditor_money,yed_interest,total_interest,interest_rate,interest_day,state,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qdz_account ( 
			<if test="id != null">
				id ,
			</if>
			<if test="regUserId != null">
				reg_user_id ,
			</if>
			<if test="money != null">
				money ,
			</if>
			<if test="creditorMoney != null">
				creditor_money ,
			</if>
			<if test="yedInterest != null">
				yed_interest ,
			</if>
			<if test="totalInterest != null">
				total_interest ,
			</if>
			<if test="interestRate != null">
				interest_rate ,
			</if>
			<if test="interestDay != null">
				interest_day ,
			</if>
			<if test="state != null">
				state ,
			</if>
				create_time ,
				modify_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="regUserId != null">
				#{regUserId} ,
			</if>
			<if test="money != null">
				#{money} ,
			</if>
			<if test="creditorMoney != null">
				#{creditorMoney} ,
			</if>
			<if test="yedInterest != null">
				#{yedInterest} ,
			</if>
			<if test="totalInterest != null">
				#{totalInterest} ,
			</if>
			<if test="interestRate != null">
				#{interestRate} ,
			</if>
			<if test="interestDay != null">
				#{interestDay} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO qdz_account (
        	id ,
        	reg_user_id ,
        	money ,
        	creditor_money ,
        	yed_interest ,
        	total_interest ,
        	interest_rate ,
        	interest_day ,
        	state ,
        	create_time ,
        	modify_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.regUserId != null">
					#{item.regUserId} ,
				</if>
				<if test="item.regUserId == null">
					DEFAULT ,
				</if>
				<if test="item.money != null">
					#{item.money} ,
				</if>
				<if test="item.money == null">
					DEFAULT ,
				</if>
				<if test="item.creditorMoney != null">
					#{item.creditorMoney} ,
				</if>
				<if test="item.creditorMoney == null">
					DEFAULT ,
				</if>
				<if test="item.yedInterest != null">
					#{item.yedInterest} ,
				</if>
				<if test="item.yedInterest == null">
					DEFAULT ,
				</if>
				<if test="item.totalInterest != null">
					#{item.totalInterest} ,
				</if>
				<if test="item.totalInterest == null">
					DEFAULT ,
				</if>
				<if test="item.interestRate != null">
					#{item.interestRate} ,
				</if>
				<if test="item.interestRate == null">
					DEFAULT ,
				</if>
				<if test="item.interestDay != null">
					#{item.interestDay} ,
				</if>
				<if test="item.interestDay == null">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="regUserId != null">
			reg_user_id = #{regUserId} ,
		   </if>
			<if test="money != null ">
				money =money + #{money} ,
			</if>
			<if test="creditorMoney != null ">
				creditor_money =creditor_money + #{creditorMoney} ,
			</if>
			<if test="yedInterest != null ">
				yed_interest =yed_interest + #{yedInterest} ,
			</if>
			<if test="totalInterest != null ">
				total_interest =total_interest + #{totalInterest} ,
			</if>
			<if test="interestRate != null ">
				interest_rate =interest_rate + #{interestRate} ,
			</if>
			<if test="interestDay != null">
			interest_day = #{interestDay} ,
		   </if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  qdz_account
	<include refid="update_sql"/>
		<where>	  
			1 = 1 
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
		</where>
	</update>
<!-- 更新 钱袋子账户，通过用户id-->
	<update id="updateByRegUserId">
		UPDATE  qdz_account
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			 reg_user_id = #{regUserId}
		]]>
	</update>
	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM qdz_account 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_QdzAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM qdz_account 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
			<if test="money != null">
			AND money = #{money}
			</if>
			<if test="creditorMoney != null">
			AND creditor_money = #{creditorMoney}
			</if>
			<if test="yedInterest != null">
			AND yed_interest = #{yedInterest}
			</if>
			<if test="totalInterest != null">
			AND total_interest = #{totalInterest}
			</if>
			<if test="interestRate != null">
			AND interest_rate = #{interestRate}
			</if>
			<if test="interestDay != null">
			AND interest_day = #{interestDay}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM qdz_account 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_QdzAccount">
		SELECT <include refid="columns" />
		FROM qdz_account 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>
	<!-- 通过用户ID，查询钱袋子账户信息 -->
	<select id="findQdzAccountByRegUserId" resultMap="_QdzAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM qdz_account 
		WHERE reg_user_id = #{regUserId}
		]]>
	</select>
	<!-- 查询钱袋子所有债券异常的用户 -->
	<select id="findCreditorExceptQdzAccounts" resultMap="_QdzAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM qdz_account 
		WHERE creditor_money!=0
		ORDER BY creditor_money desc
		]]>
	</select>
	<!-- 查询失败债权金额 总和 -->
	<select id="findSumFailCreditorMoney" resultType="java.math.BigDecimal">
		SELECT COALESCE(SUM(creditor_money),0)
		FROM qdz_account 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
    </select>
	<!-- 查询钱袋子所有债券异常的用户 -->
	<select id="findCalculateInterestAccount" resultMap="_QdzAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM qdz_account 
		WHERE money>0
		]]>
	</select>
	<!-- 更新 钱袋子账户，通过用户id-->
	<update id="updateCreditorMoney" parameterType="java.util.Map">
		UPDATE  qdz_account
		set creditor_money = #{creditorMoney},modify_time = now()
		<![CDATA[
		WHERE 
			 reg_user_id = #{regUserId}
		]]>
	</update>
	<!-- 更具分片项查询钱袋子用户 -->
	<select id="findQdzAccountByShardingItem" resultMap="_QdzAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM qdz_account 
		WHERE id%10 =  #{shardingItem}
		]]>
	</select>
</mapper>