<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.qdz.model.QdzRateRecord">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_QdzRateRecord" type="com.hongkun.finance.qdz.model.QdzRateRecord">
		<result property="id" column="id"/>
		<result property="vasRebatesRuleId" column="vas_rebates_rule_id"/>
		<result property="rate" column="rate"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,vas_rebates_rule_id,rate,create_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qdz_rate_record ( 
			<if test="id != null">
				id ,
			</if>
			<if test="vasRebatesRuleId != null">
				vas_rebates_rule_id ,
			</if>
			<if test="rate != null">
				rate ,
			</if>
				create_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="vasRebatesRuleId != null">
				#{vasRebatesRuleId} ,
			</if>
			<if test="rate != null">
				#{rate} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO qdz_rate_record (
        	id ,
        	vas_rebates_rule_id ,
        	rate ,
        	create_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.vasRebatesRuleId != null">
					#{item.vasRebatesRuleId} ,
				</if>
				<if test="item.vasRebatesRuleId == null">
					DEFAULT ,
				</if>
				<if test="item.rate != null">
					#{item.rate} ,
				</if>
				<if test="item.rate == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="vasRebatesRuleId != null">
			vas_rebates_rule_id = #{vasRebatesRuleId} ,
		   </if>
			<if test="rate != null ">
				rate =rate + #{rate} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  qdz_rate_record
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM qdz_rate_record 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_QdzRateRecord">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM qdz_rate_record 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="vasRebatesRuleId != null">
			AND vas_rebates_rule_id = #{vasRebatesRuleId}
			</if>
			<if test="rate != null">
			AND rate = #{rate}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM qdz_rate_record 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_QdzRateRecord">
		SELECT <include refid="columns" />
		FROM qdz_rate_record 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

	<select id="findQdzRateRecordByTime" resultMap="_QdzRateRecord">
		SELECT <include refid="columns" />
		FROM qdz_rate_record 
		where date(create_time) = date(#{createTime})
	</select>

</mapper>
