<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="line-height: 34px">
                <span style="float: left;">卡券详情查询</span>
            </div>
            <div class="panel-body">
            	<hr>
                <form id="searchForm">
                    <span class="sp-width" style="width:85px;margin-left: 0;">用户手机号:</span><input type="text" name="tel" validate="tel" class="form-control" style="width: 120px;display:inline-block;">
                    <span class="sp-width">卡券名称:</span><input type="text" name="name" class="form-control" style="width: 120px;display:inline-block;">
                    <span class="sp-width" style="width:100px;">作用范围：</span> <select id="actionScope" name="actionScope" class="form-control"
                                                                                       style="width: 120px;display:inline-block;"></select>
                    <span class="sp-width" style="width:100px;">卡券产品类型：</span> <select id="type" name="type" class="form-control"
                                   style="width: 120px;display:inline-block;"></select>
                    <span class="sp-width" style="width:50px;">状态：</span><select id="state" name="state" class="form-control"
                               style="width: 100px;display:inline-block;"></select>
                    <span class="sp-width" style="width:130px;">适用标的产品类型：</span><select id="bidProductTypeRange" name="bidProductTypeRange" class="form-control"
                                     style="width: 120px;display:inline-block;"></select>
                    </br></br>
                    <span class="sp-width" style="width:85px;margin-left: 0;">使用时间：</span><input type="text" id="usedTimeBegin" name="usedTimeBegin"
                                onclick="WdatePicker({maxDate:'#F{$dp.$D(\'usedTimeEnd\')}'})"
                                class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                    -<input type="text" id="usedTimeEnd" name="usedTimeEnd"
                            onclick="WdatePicker({minDate:'#F{$dp.$D(\'usedTimeBegin\')}'})"
                            class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                   <span class="sp-width">创建时间：</span> <input type="text" id="createTimeBegin" name="createTimeBegin"
                                onclick="WdatePicker({maxDate:'#F{$dp.$D(\'createTimeEnd\')}'})"
                                class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                    -<input type="text" id="createTimeEnd" name="createTimeEnd"
                            onclick="WdatePicker({minDate:'#F{$dp.$D(\'createTimeBegin\')}'})"
                            class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                    <a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
                    <a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
                    <a href="javascript:void(0)" class="btn btn-primary" id="excelBtn"
                       style="display:inline-block;" onClick="exportExcel('卡券详情记录信息')">导出</a>
                </form>
                <hr>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>
<script>
    var columns = [
        {title:"产品名称",data:"name"},
        {title:"作用范围",data:"actionScope",render:function (value) {
            return DIC_CONSTANT.getName("invest","action_scope",value);
            }},
        {title:"产品类型",data:"type",render:function (value) {
            return DIC_CONSTANT.getName("vas","coupon_product_type",value);
        }},
        {title:"激活码",data:"avtKey"},
        {title:"加息率/价值",data:"worth",render:function (value,type,row) {
            return value == 0 ? "--" : value + commonUtil.getCouponDetailUnit(row.type);
        }},
        {title:"开始时间",data:"beginTime",render:function (value) {
            return dateUtil.date(value);
        }},
        {title:"截止时间",data:"endTime",render:function (value) {
            return dateUtil.date(value);
        }},
        {title:"状态",data:"state",render:function (value) {
            return DIC_CONSTANT.getName("vas","coupon_detail_state",value);
        }},
        {title:"创建时间",data:"createTime",render:function (value) {
            return dateUtil.dateTime(value);
        }},
        {title:"使用时间",data:"usedTime",render:function (value) {
            return value > 0 ? dateUtil.dateTime(value) : "--";
        }},
        {title:"使用用户",data:"tel"},
        {title:"标的范围",data:"bidProductTypeRange",render:function (value) {
            return commonUtil.isEmpty(value) ? "--" : DIC_CONSTANT.getNames("vas","coupon_bid_product_type",value);
        }},
        {title:"赠送原因",data:"reason",render:function (value) {
            return "&nbsp" + value;
        }},
        {title:"操作",data:null,render:function (data,type,row,meta) {
            var btn = "";
            if (row.hasDonationRecord == 1){
                btn = btn +
                    commonUtil.createDirectRequestBtn({param:row.id,target:'couponDonationRecordList'},"查看转赠记录","fa-list",1);
            }
            return commonUtil.isEmpty(btn) ? "--" : btn;
        }}
    ];
    $.each(columns,function (i,n) {
        $(n).attr("class","column-center");
    });
    //创建dataTable列表
    dataTableUtil.createDT(CONFIG.interface.couponDetailList,columns);
    //初始化查询条件form
    dataTableUtil.initDTSearchForm("");
    $("#actionScope").append(DIC_CONSTANT.getOption("invest","action_scope","empty"));
    $("#type").append(DIC_CONSTANT.getOption("vas","coupon_product_type","empty"));
    $("#state").append(DIC_CONSTANT.getOption("vas","coupon_detail_state","empty"));
    $("#bidProductTypeRange").append(DIC_CONSTANT.getOption("vas","coupon_bid_product_type","empty"));
</script>