<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="line-height: 34px;">
                <span style="float:left;">物业列表</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="span12" id="div-table-container"></div>
            <!-- /.panel-heading -->
            <div class="panel-body" >
                <div>
                    <hr>
                    <form id="searchForm">
                        <div>
                            姓名：<input name="nickName" class="form-control" style="width: 120px;display:inline-block;">
                            手机号：<input name="login" validate="tel" class="form-control" style="width: 120px;display:inline-block;">
                            <a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
                            <a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
                        </div>
                    </form>
                    <hr>
                </div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
	var columns = [
		{title: "企业名称", data: "nickName", className: "dt-simple"},
		{title: "联系方式", data: "login", className: "dt-simple"},
		{title: "账户类型", data: "type", className: "dt-simple",
            render:function(value, type, row, meta){
                return DIC_CONSTANT.getName('user', 'type', value);
            }
        },
        {title: "操作", data: null, className: "dt-simple",
            render:function(value, type, row, meta){
                return '<a href="javascript:void(0)" title="绑定小区" onClick="commonUtil.goPage(\'TenementBindCommunities?name='+row.nickName+'&id='+row.id+'\')" class="fa fa-plus-square" style="padding-left: 3px;padding-right: 3px;"></a>';
            }
        }
	];
    //创建dataTable列表
    dataTableUtil.createDT(CONFIG.interface.tenement, columns);
    //初始化查询条件form
    dataTableUtil.initDTSearchForm();
</script>