<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix" style="line-height: 34px;">
              	<span style="float:left;">佣金查询</span>
            </div>
            <div class="span12" id="div-table-container"></div>
            <!-- /.panel-heading -->
            <div class="panel-body" >
            	<div>
            		<hr>
           			<form id="searchForm">
           				用户姓名：<input name="recommendName" class="form-control" style="width: 120px;display:inline-block;">
           			     手机号：<input name="recommedTel" validate="tel" class="form-control" style="width: 120px;display:inline-block;">
            			<a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
            			<a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
           			</form>
            		<hr>
            	</div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>

<script>
var columns =  [
 		{title: "姓名", data: "recommendName", className: "dt-simple"},
		{title: "手机号", data: "recommedTel", className: "dt-simple"},
		{title: "一级好友人数", data: "sumFriendLevelOne", className: "dt-simple"},
		{title: "二级好友人数", data: "sumFriendLevelTwo", className: "dt-simple"},
		{title: "奖金总额（元）", data: "totalEarnAmount", className: "dt-simple"},
	    {
 			title:"操作",
 			data: null,
 			className:"dt-operate",
 		    render: function (data, type, row, meta) {
 		    	var btn = commonUtil.createDirectRequestBtn({param:row.recommendRegUserId,
                    target:'recommendInfoDetail'},"详细信息","fa-list",1);
                return btn;
 		    }
 		}
 	];
//创建dataTable列表
dataTableUtil.createDT(CONFIG.interface.findRecommendEarnCountInfo, columns);
//初始化查询条件form
dataTableUtil.initDTSearchForm();
</script>
