<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.user.model.AppLoginLog">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_AppLoginLog" type="com.hongkun.finance.user.model.AppLoginLog">
		<result property="id" column="id"/>
		<result property="regUserId" column="reg_user_id"/>
		<result property="operateSystem" column="operate_system"/>
		<result property="appVersion" column="app_version"/>
		<result property="deviceName" column="device_name"/>
		<result property="deviceId" column="device_id"/>
		<result property="lastLoginTime" column="last_login_time"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,reg_user_id,operate_system,app_version,device_name,device_id,last_login_time,create_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO app_login_log ( 
			<if test="id != null">
				id ,
			</if>
			<if test="regUserId != null">
				reg_user_id ,
			</if>
			<if test="operateSystem != null and operateSystem != ''">
				operate_system ,
			</if>
			<if test="appVersion != null">
				app_version ,
			</if>
			<if test="deviceName != null and deviceName != ''">
				device_name ,
			</if>
			<if test="deviceId != null">
				device_id ,
			</if>
				last_login_time ,
				create_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="regUserId != null">
				#{regUserId} ,
			</if>
			<if test="operateSystem != null and operateSystem != ''">
				#{operateSystem} ,
			</if>
			<if test="appVersion != null">
				#{appVersion} ,
			</if>
			<if test="deviceName != null and deviceName != ''">
				#{deviceName} ,
			</if>
			<if test="deviceId != null">
				#{deviceId} ,
			</if>
			<choose>
				<when test="lastLoginTime != null">
					#{lastLoginTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="createTime != null">
					#{createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<![CDATA[
		INSERT INTO app_login_log (
	       	id ,
	       	reg_user_id ,
	       	operate_system ,
	       	app_version ,
	       	device_name ,
	       	device_id ,
	       	last_login_time ,
	       	create_time 
        ) VALUES 
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.regUserId != null">
					#{item.regUserId} ,
				</if>
				<if test="item.regUserId == null">
					DEFAULT ,
				</if>
				<if test="item.operateSystem != null and item.operateSystem != ''">
					#{item.operateSystem} ,
				</if>
				<if test="item.operateSystem == null or item.operateSystem == ''">
					DEFAULT ,
				</if>
				<if test="item.appVersion != null">
					#{item.appVersion} ,
				</if>
				<if test="item.appVersion == null">
					DEFAULT ,
				</if>
				<if test="item.deviceName != null and item.deviceName != ''">
					#{item.deviceName} ,
				</if>
				<if test="item.deviceName == null or item.deviceName == ''">
					DEFAULT ,
				</if>
				<if test="item.deviceId != null">
					#{item.deviceId} ,
				</if>
				<if test="item.deviceId == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.lastLoginTime != null">
					#{item.lastLoginTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="regUserId != null">
			reg_user_id = #{regUserId} ,
		   </if>
			<if test="operateSystem != null and operateSystem != ''">
				operate_system = #{operateSystem} ,
			</if>
			<if test="appVersion != null">
			app_version = #{appVersion} ,
		   </if>
			<if test="deviceName != null and deviceName != ''">
				device_name = #{deviceName} ,
			</if>
			<if test="deviceId != null">
			device_id = #{deviceId} ,
		   </if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  app_login_log
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 根据regUserId来更新-->
	<update id="updateAppLoginLogByUserId">
		UPDATE  app_login_log
		<include refid="update_sql"/>
		<![CDATA[
		WHERE
			reg_user_id = #{regUserId}
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM app_login_log 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_AppLoginLog">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM app_login_log 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
			<if test="operateSystem != null and operateSystem !=''">
			AND operate_system = #{operateSystem}
			</if>
			<if test="appVersion != null">
			AND app_version = #{appVersion}
			</if>
			<if test="deviceName != null and deviceName !=''">
			AND device_name = #{deviceName}
			</if>
			<if test="deviceId != null">
			AND device_id = #{deviceId}
			</if>
			<if test="lastLoginTimeBegin != null">
			AND last_login_time >= #{lastLoginTimeBegin}
			</if>
			<if test="lastLoginTimeEnd != null">
			AND last_login_time &lt;= #{lastLoginTimeEnd}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM app_login_log 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_AppLoginLog">
		SELECT <include refid="columns" />
		FROM app_login_log 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
