<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.user.model.RegAuditRule">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_RegAuditRule" type="com.hongkun.finance.user.model.RegAuditRule">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="state" column="state"/>
		<result property="type" column="type"/>
		<result property="createTime" column="create_time"/>
		<result property="modifiedTime" column="modified_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,name,state,type,create_time,modified_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reg_audit_rule ( 
			<if test="id != null">
				id ,
			</if>
			<if test="name != null and name != ''">
				name ,
			</if>
			<if test="state != null">
				state ,
			</if>
			<if test="type != null">
				type ,
			</if>
				create_time ,
				modified_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="name != null and name != ''">
				#{name} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<if test="type != null">
				#{type} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifiedTime != null">
					#{modifiedTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<![CDATA[
		INSERT INTO reg_audit_rule (
	       	id ,
	       	name ,
	       	state ,
	       	type ,
	       	create_time ,
	       	modified_time 
        ) VALUES 
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.name != null and item.name != ''">
					#{item.name} ,
				</if>
				<if test="item.name == null or item.name == ''">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
				<if test="item.type != null">
					#{item.type} ,
				</if>
				<if test="item.type == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifiedTime != null">
					#{item.modifiedTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="name != null and name != ''">
				name = #{name} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="type != null">
			type = #{type} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  reg_audit_rule
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM reg_audit_rule 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_RegAuditRule">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM reg_audit_rule 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="name != null and name !=''">
			AND name = #{name}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
			<if test="type != null">
			AND type = #{type}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifiedTimeBegin != null">
			AND modified_time >= #{modifiedTimeBegin}
			</if>
			<if test="modifiedTimeEnd != null">
			AND modified_time &lt;= #{modifiedTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM reg_audit_rule 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_RegAuditRule">
		SELECT <include refid="columns" />
		FROM reg_audit_rule 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
