<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.user.model.SysPrivilege">

    <!-- POJO类与数据库字段对应关系 -->
    <resultMap id="_SysPrivilege" type="com.hongkun.finance.user.model.SysPrivilege">
        <result property="id" column="id"/>
        <result property="privName" column="priv_name"/>
        <result property="privDesc" column="priv_desc"/>
        <result property="privUrl" column="priv_url"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
		<![CDATA[

		id,priv_name,priv_desc,priv_url,create_user_id,modify_user_id,state,create_time,modify_time

        ]]>
	</sql>

    <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_privilege (
        <if test="id != null">
            id ,
        </if>
        <if test="privName != null and privName != ''">
            priv_name ,
        </if>
        <if test="privDesc != null and privDesc != ''">
            priv_desc ,
        </if>
        <if test="privUrl != null and privUrl != ''">
            priv_url ,
        </if>
        <if test="createUserId != null">
            create_user_id ,
        </if>
        <if test="modifyUserId != null">
            modify_user_id ,
        </if>
        <if test="state != null">
            state ,
        </if>
        create_time ,
        modify_time
        ) VALUES (
        <if test="id != null">
            #{id} ,
        </if>
        <if test="privName != null and privName != ''">
            #{privName} ,
        </if>
        <if test="privDesc != null and privDesc != ''">
            #{privDesc} ,
        </if>
        <if test="privUrl != null and privUrl != ''">
            #{privUrl} ,
        </if>
        <if test="createUserId != null">
            #{createUserId} ,
        </if>
        <if test="modifyUserId != null">
            #{modifyUserId} ,
        </if>
        <if test="state != null">
            #{state} ,
        </if>
        <choose>
            <when test="createTime != null">
                #{createTime} ,
            </when>
            <otherwise>
                NOW() ,
            </otherwise>
        </choose>
        <choose>
            <when test="modifyTime != null">
                #{modifyTime}
            </when>
            <otherwise>
                NOW()
            </otherwise>
        </choose>
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO sys_privilege (
        <if test="id != null">
            id ,
        </if>
        <if test="privName != null and privName != ''">
            priv_name ,
        </if>
        <if test="privDesc != null and privDesc != ''">
            priv_desc ,
        </if>
        <if test="privUrl != null and privUrl != ''">
            priv_url ,
        </if>
        <if test="createUserId != null">
            create_user_id ,
        </if>
        <if test="modifyUserId != null">
            modify_user_id ,
        </if>
        <if test="state != null">
            state ,
        </if>
        create_time ,
        modify_time
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <if test="id != null">
                #{id} ,
            </if>
            <if test="privName != null and privName != ''">
                #{privName} ,
            </if>
            <if test="privDesc != null and privDesc != ''">
                #{privDesc} ,
            </if>
            <if test="privUrl != null and privUrl != ''">
                #{privUrl} ,
            </if>
            <if test="createUserId != null">
                #{createUserId} ,
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId} ,
            </if>
            <if test="state != null">
                #{state} ,
            </if>
            <choose>
                <when test="createTime != null">
                    #{createTime} ,
                </when>
                <otherwise>
                    NOW() ,
                </otherwise>
            </choose>
            <choose>
                <when test="modifyTime != null">
                    #{modifyTime}
                </when>
                <otherwise>
                    NOW()
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!-- 更新字段列表 -->
    <sql id="update_sql">
        <set>
            <if test="privName != null and privName != ''">
                priv_name = #{privName} ,
            </if>
            <if test="privDesc != null and privDesc != ''">
                priv_desc = #{privDesc} ,
            </if>
            <if test="privUrl != null and privUrl != ''">
                priv_url = #{privUrl} ,
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId} ,
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId} ,
            </if>
            <if test="state != null">
                state = #{state} ,
            </if>
            <if test="createTime != null">
                create_time = #{createTime} ,
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime}
            </if>
        </set>
    </sql>

    <!-- 更新 -->
    <update id="update">
        UPDATE sys_privilege
        <include refid="update_sql"/>
        <![CDATA[
		WHERE 
			id = #{id} 
		]]>
    </update>

    <!-- 删除 -->
    <delete id="delete">
		<![CDATA[

		DELETE FROM sys_privilege 
		WHERE
			id = #{id} 

        ]]>
	</delete>

    <!-- 根据ID查询 -->
    <select id="getById" resultMap="_SysPrivilege">
        SELECT
        <include refid="columns"/>
        <![CDATA[
		FROM sys_privilege 
		WHERE 1 = 1
			AND id = #{id}
		]]>
    </select>

    <!-- 查询条件 -->
    <sql id="findPage_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            state !=0
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="privName != null and privName !=''">
                AND priv_name LIKE CONCAT('%',#{privName},'%')
            </if>
            <if test="privDesc != null and privDesc !=''">
                AND priv_desc = #{privDesc}
            </if>
            <if test="privUrl != null and privUrl !=''">
                AND priv_url = #{privUrl}
            </if>
            <if test="createUserId != null">
                AND create_user_id = #{createUserId}
            </if>
            <if test="modifyUserId != null">
                AND modify_user_id = #{modifyUserId}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
            <if test="createTimeBegin != null">
                AND create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="modifyTimeBegin != null">
                AND modify_time >= #{modifyTimeBegin}
            </if>
            <if test="modifyTimeEnd != null">
                AND modify_time &lt;= #{modifyTimeEnd}
            </if>
        </where>
    </sql>

    <!-- 查询数量 -->
    <select id="findPage_count" resultType="long">
        SELECT COUNT(ID) FROM sys_privilege
        <include refid="findPage_where"/>
    </select>

    <!-- 查询分页 -->
    <select id="findPage" resultMap="_SysPrivilege">
        SELECT
        <include refid="columns"/>
        FROM sys_privilege
        <include refid="findPage_where"/>
        <if test="sortColumns != null and sortColumns !=''">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!-- 查询指定id菜单url集合 -->
    <select id="finAuthUrlsByIds" resultType="java.lang.String">
        SELECT
        DISTINCT priv_url
        FROM sys_privilege
        WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            ${item}
        </foreach>
    </select>


</mapper>
