<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.user.model.SysRoleMenuRel">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_SysRoleMenuRel" type="com.hongkun.finance.user.model.SysRoleMenuRel">
		<result property="id" column="id"/>
		<result property="sysRoleId" column="sys_role_id"/>
		<result property="sysMenuId" column="sys_menu_id"/>
		<result property="state" column="state"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,sys_role_id,sys_menu_id,state
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_role_menu_rel ( 
			<if test="id != null">
				id ,
			</if>
			<if test="sysRoleId != null">
				sys_role_id ,
			</if>
			<if test="sysMenuId != null">
				sys_menu_id ,
			</if>
			<if test="state != null">
				state 
			</if>
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="sysRoleId != null">
				#{sysRoleId} ,
			</if>
			<if test="sysMenuId != null">
				#{sysMenuId} ,
			</if>
			<if test="state != null">
				#{state} 
			</if>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<![CDATA[
		INSERT INTO sys_role_menu_rel (
	       	id ,
	       	sys_role_id ,
	       	sys_menu_id ,
	       	state 
        ) VALUES 
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.sysRoleId != null">
					#{item.sysRoleId} ,
				</if>
				<if test="item.sysRoleId == null">
					DEFAULT ,
				</if>
				<if test="item.sysMenuId != null">
					#{item.sysMenuId} ,
				</if>
				<if test="item.sysMenuId == null">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} 
				</if>
				<if test="item.state == null">
					DEFAULT 
				</if>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="sysRoleId != null">
			sys_role_id = #{sysRoleId} ,
		   </if>
			<if test="sysMenuId != null">
			sys_menu_id = #{sysMenuId} ,
		   </if>
			<if test="state != null">
			state = #{state} 
		   </if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  sys_role_menu_rel
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM sys_role_menu_rel 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_SysRoleMenuRel">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM sys_role_menu_rel 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			state!=0
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="sysRoleId != null">
			AND sys_role_id = #{sysRoleId}
			</if>
			<if test="sysMenuId != null">
			AND sys_menu_id = #{sysMenuId}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM sys_role_menu_rel 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_SysRoleMenuRel">
		SELECT <include refid="columns" />
		FROM sys_role_menu_rel 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

	<!--清空角色和菜单的绑定关系-->
	<update id="clearRoleMenuRelByroleIdOrMenuId">
		UPDATE
		sys_role_menu_rel
		SET state=0
		WHERE
		state=0
		<if test="menuIds!=null and menuIds.size>0">
			OR
			sys_menu_id IN
			<foreach collection="menuIds" open="(" separator="," close=")" item="mid">
				${mid}
			</foreach>
		</if>
		<if test="roleIds!=null and roleIds.size>0">
			OR
			sys_role_id IN
			<foreach collection="roleIds" open="(" separator="," close=")" item="rid">
				${rid}
			</foreach>
		</if>
	</update>

	<select id="findRolesBindMenuIds" resultType="java.lang.Integer">
		SELECT  sys_menu_id
		FROM sys_role_menu_rel
		WHERE  state=1
		AND sys_role_id =#{roleId}
	</select>

	<select id="findMenuByRoleIds" resultType="java.lang.Integer">
		SELECT  sys_menu_id
		FROM sys_role_menu_rel
		WHERE  state=1
		AND sys_role_id IN
		<foreach collection="list" open="(" separator="," close=")" item="rid">
			${rid}
		</foreach>
	</select>
</mapper>
