<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.user.model.SysRole">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_SysRole" type="com.hongkun.finance.user.model.SysRole">
		<result property="id" column="id" />
		<result property="roleName" column="role_name" />
		<result property="roleDesc" column="role_desc" />
		<result property="state" column="state" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,role_name,role_desc,state,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_role (
		<if test="id != null">
			id ,
		</if>
		<if test="roleName != null and roleName != ''">
			role_name ,
		</if>
		<if test="roleDesc != null and roleDesc != ''">
			role_desc ,
		</if>
		<if test="state != null">
			state ,
		</if>
		create_time ,
		modify_time
		) VALUES (
		<if test="id != null">
			#{id} ,
		</if>
		<if test="roleName != null and roleName != ''">
			#{roleName} ,
		</if>
		<if test="roleDesc != null and roleDesc != ''">
			#{roleDesc} ,
		</if>
		<if test="state != null">
			#{state} ,
		</if>
		<choose>
			<when test="createTime != null">
				#{createTime} ,
			</when>
			<otherwise>
				NOW() ,
			</otherwise>
		</choose>
		<choose>
			<when test="modifyTime != null">
				#{modifyTime}
			</when>
			<otherwise>
				NOW()
			</otherwise>
		</choose>
		)
	</insert>

	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO sys_role (
		<if test="id != null">
			id ,
		</if>
		<if test="roleName != null and roleName != ''">
			role_name ,
		</if>
		<if test="roleDesc != null and roleDesc != ''">
			role_desc ,
		</if>
		<if test="state != null">
			state ,
		</if>
		create_time ,
		modify_time
		) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			<if test="id != null">
				#{id} ,
			</if>
			<if test="roleName != null and roleName != ''">
				#{roleName} ,
			</if>
			<if test="roleDesc != null and roleDesc != ''">
				#{roleDesc} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime}
				</when>
				<otherwise>
					NOW()
				</otherwise>
			</choose>
			)
		</foreach>
	</insert>

	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="roleName != null and roleName != ''">
				role_name = #{roleName} ,
			</if>
			<if test="roleDesc != null and roleDesc != ''">
				role_desc = #{roleDesc} ,
			</if>
			<if test="state != null">
				state = #{state} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime}
			</if>
		</set>
	</sql>

	<!-- 更新 -->
	<update id="update">
		UPDATE sys_role
		<include refid="update_sql" />
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM sys_role 
		WHERE
			id = #{id} 
		]]>
	</delete>

	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_SysRole">
		SELECT
		<include refid="columns" />
		<![CDATA[
		FROM sys_role 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>

	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			1 = 1
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="roleName != null and roleName !=''">
				AND role_name  LIKE CONCAT('%',#{roleName},'%')
			</if>
			<if test="roleDesc != null and roleDesc !=''">
				AND role_desc = #{roleDesc}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="state == null">
				AND state !=0
			</if>
			<if test="createTimeBegin != null">
				AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
				AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
				AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
				AND modify_time &lt;= #{modifyTimeEnd}
			</if>
		</where>
	</sql>

	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM sys_role
		<include refid="findPage_where" />
	</select>

	<!-- 查询分页 -->
	<select id="findPage" resultMap="_SysRole">
		SELECT
		<include refid="columns" />
		FROM sys_role
		<include refid="findPage_where" />
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY ${sortColumns}
		</if>
	</select>

	<select id="findUserRolesVoListCount" resultType="java.lang.Integer">
		SELECT
		count(sur.id)
		FROM
		sys_user_role_rel sur
		LEFT JOIN reg_user ru ON sur.reg_user_id = ru.id
		LEFT JOIN reg_user_detail rud ON sur.reg_user_id = rud.reg_user_id
		LEFT JOIN sys_role sr ON sur.sys_role_id = sr.id
		WHERE  1=1
		<if test="login != null and login != '' ">
			AND ru.login = #{login}
		</if>
		<if test="sysRoleId != null and sysRoleId != '' ">
			AND sur.sys_role_id = #{sysRoleId}
		</if>
	</select>

	<select id="findUserRolesVoList" resultType="com.hongkun.finance.user.model.vo.UserRolesVo">
		SELECT
			sur.id as id,
			sur.reg_user_id as regUserId,
			sur.sys_role_id as sysRoleId,
			sur.state as state,
			ru.login as login,
			rud.real_name as realName,
			sr.role_name as sysRoleName
		FROM
			sys_user_role_rel sur
		LEFT JOIN reg_user ru ON sur.reg_user_id = ru.id
		LEFT JOIN reg_user_detail rud ON sur.reg_user_id = rud.reg_user_id
		LEFT JOIN sys_role sr ON sur.sys_role_id = sr.id
		WHERE  1=1
		<if test="login != null and login != '' ">
			AND ru.login = #{login}
		</if>
		<if test="sysRoleId != null and sysRoleId != '' ">
			AND sur.sys_role_id = #{sysRoleId}
		</if>
	</select>
</mapper>
