.helpindex_main{
	width:100%;
	height:100%;
}
.helpinvest_main{
	width:100%;
	height:auto;
}
.motiveinvest_banner{
 width:100%;height:auto;
}
.motiveinvest_banner img{
display:block;width:100%;
}
.what_invest{
  width:90%;margin:8% 5%;height:auto;
}
.what_invest span{
  display:block;background:#0278da;color:white;font-size:.9rem;text-align:center;width:35%;padding:.4rem;margin:0 auto;
}
.what_content{
font-size:.9rem;text-indent:2rem;line-height:1.4rem;height:auto;margin-top:1.2rem;
}
.zl_invest{
background:#e7f9ff;padding:2rem 5%;height:auto;
}
.zl_invest span{
display:block;background:#0278da;color:white;font-size:.9rem;text-align:center;width:38%;padding:.5rem;margin-left:8%;
}
.zl_content{
 text-indent:2rem;font-size:.9rem;line-height:1.4rem;width:55%;padding-right:45%;background:url(../../imageLib/autoInvest/icon_invest.png)
 right center no-repeat;background-size:40%;margin-top:1rem;}
.zj_income{
  width:90%;height:auto;background:white;padding:2rem 5%;
 }
.zj_income span{
display:block;background:#0278da;color:white;font-size:.9rem;text-align:center;width:45%;padding:.3rem .5rem;margin-left:51%;
}
.zj_content{
 text-indent:2rem;font-size:.9rem;line-height:1.4rem;width:58%;padding-left:42%;background:url(../../imageLib/autoInvest/icon_income.png)
 left center no-repeat;background-size:40%;margin-top:1rem;
}
.set_invest{
background:#f4f7fe;padding:2rem 5%;height:auto;
}
.set_invest span{
display:block;background:#0278da;color:white;font-size:.9rem;text-align:center;width:38%;padding:.3rem .5rem;margin-left:8%;
}
.p_bg{background:#f4f7fe;padding:2rem 0;}
.set_content{
 text-indent:2rem;font-size:.9rem;line-height:1.4rem;width:55%;padding-right:45%;background:url(../../imageLib/autoInvest/icon_set.png)
 right center no-repeat;background-size:40%;margin-top:1rem;}
 .href_link{cursor:pointer;display:block;width:100%;height:2.5rem;bottom:20%;position:absolute;bottom:18%;z-index:100;}
 .bg_loginimg{
  background:url(../../imageLib/autoInvest/bg_logo.png) bottom right no-repeat;
  background-size:50% 50%;
}
.bg_loginimga{
  background:url(../../imageLib/autoInvest/bg_logo.png) bottom center no-repeat;
  background-size:50% 50%;
}
.bg_loginimgb{
  background:url(../../imageLib/autoInvest/bg_logo.png) bottom left no-repeat;
  background-size:50% 50%;
}