<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <form name="PointRuleForm" id="pointRuleForm" enctype="multipart/form-data">
                <div class="panel-body">
                    <div class="well">
                        <input type="hidden" name="id" ng-model="pointRule.id" value="{{pointRule.id}}">
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>转赠手续费费率(%):</label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="pointGivingRate" ng-model="pointRule.pointGivingRate"
                                   validator="required,rate" type="text"  range-error-message="请输入正确的数值!"
                                   range-success-message="" valid-method="blur" message-id="pointGivingRateError">
                            <span style="color:#F00" id="pointGivingRateError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>投资获取积分基数(投资金额*月数/基数+取整):
                            </label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="pointInvestBase" ng-model="pointRule.pointInvestBase"
                                   validator="required,number" type="text"  range-error-message="请输入正确的数值!"
                                   range-success-message="" valid-method="blur" message-id="pointInvestBaseError">
                            <span style="color:#F00" id="pointInvestBaseError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>积分支付1元钱对应积分数量:</label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="perMoneyToPoint" ng-model="pointRule.perMoneyToPoint"
                                   validator="required,number" type="text"  range-error-message="请输入正确的数值!"
                                   range-success-message="" valid-method="blur" message-id="perMoneyToPointError">
                            <span style="color:#F00" id="perMoneyToPointError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>物业缴费1元钱对应积分数量:</label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="proMoneyToPoint" ng-model="pointRule.proMoneyToPoint"
                                   validator="required,number" type="text"  range-error-message="请输入正确的数值!"
                                   range-success-message="" valid-method="blur" message-id="proMoneyToPointError">
                            <span style="color:#F00" id="proMoneyToPointError"></span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline btn-success"
                                    ng-click="saveAndUpdate(PointRuleForm)" validator-submit="PointRuleForm">保存</button>
                            <button type="button" class="btn btn-outline btn-success" ng-click="back()">返回</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>