<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.point.model.PointActivityRecord">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_PointActivityRecord" type="com.hongkun.finance.point.model.PointActivityRecord">
		<result property="id" column="ID"/>
		<result property="productId" column="product_id"/>
		<result property="point" column="point"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
		<result property="sales" column="sales"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		ID,product_id,point,begin_time,end_time,sales,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO point_activity_record ( 
			<if test="id != null">
				ID ,
			</if>
			<if test="productId != null">
				product_id ,
			</if>
			<if test="point != null">
				point ,
			</if>
				begin_time ,
				end_time ,
			<if test="sales != null">
				sales ,
			</if>
				create_time ,
				modify_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="productId != null">
				#{productId} ,
			</if>
			<if test="point != null">
				#{point} ,
			</if>
			<choose>
				<when test="beginTime != null">
					#{beginTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="endTime != null">
					#{endTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<if test="sales != null">
				#{sales} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO point_activity_record (
        	ID ,
        	product_id ,
        	point ,
        	begin_time ,
        	end_time ,
        	sales ,
        	create_time ,
        	modify_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.productId != null">
					#{item.productId} ,
				</if>
				<if test="item.productId == null">
					DEFAULT ,
				</if>
				<if test="item.point != null">
					#{item.point} ,
				</if>
				<if test="item.point == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.beginTime != null">
					#{item.beginTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.endTime != null">
					#{item.endTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.sales != null">
					#{item.sales} ,
				</if>
				<if test="item.sales == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="productId != null">
			product_id = #{productId} ,
		   </if>
			<if test="point != null">
			point = #{point} ,
		   </if>
			<if test="beginTime != null">
				begin_time = #{beginTime} ,
			</if>
			<if test="endTime != null">
				end_time = #{endTime} ,
			</if>
			<if test="sales != null">
			sales = #{sales} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  point_activity_record
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			ID = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM point_activity_record 
		WHERE
			ID = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_PointActivityRecord">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM point_activity_record 
		WHERE 1 = 1
			AND ID = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND ID = #{id}
			</if>
			<if test="productId != null">
			AND product_id = #{productId}
			</if>
			<if test="point != null">
			AND point = #{point}
			</if>
			<if test="beginTimeBegin != null">
			AND begin_time >= #{beginTimeBegin}
			</if>
			<if test="beginTimeEnd != null">
			AND begin_time &lt;= #{beginTimeEnd}
			</if>
			<if test="endTimeBegin != null">
			AND end_time >= #{endTimeBegin}
			</if>
			<if test="endTimeEnd != null">
			AND end_time &lt;= #{endTimeEnd}
			</if>
			<if test="sales != null">
			AND sales = #{sales}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM point_activity_record 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_PointActivityRecord">
		SELECT <include refid="columns" />
		FROM point_activity_record 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
