<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix" style="line-height: 34px;">
              	<span style="float:left;">筹款中的借款标</span>
              	<a href="javascript:void(0)" class="btn btn-danger" onclick="commonUtil.goPage('addBidInfo')" style="display:inline-block;float:right;">添加</a>
            </div>
            <div class="span12" id="div-table-container"></div>
            <!-- /.panel-heading -->
            <div class="panel-body">
            	<div>
            		<hr>
           			<form id="searchForm">
           				<span class="sp-width">名称：</span><input name="title" class="form-control" style="width: 150px;display:inline-block;">
           				<span class="sp-width">借款人：</span><input name="borrowerName" class="form-control" style="width: 120px;display:inline-block;">
           				<span class="sp-width">是否加息：</span><select name="raiseFlag" class="form-control" style="width: 120px;display:inline-block;">
           						<option value="-999">全部</option>
           						<option value="1">是</option>
           						<option value="0">否</option>
           					</select>
           					<br/>
           					<br/>
						<span class="sp-width">标的状态：</span>
						<select id="bidState" name="state" class="form-control" style="width: 120px;display:inline-block;">
							<option value="-999">全部</option>
							<option value="1">待上架</option>
							<option value="2">投标中</option>
							<option value="8">满标审核拒绝</option>
						</select>

						<span class="sp-width">产品类型：</span><select id="productType" name="productTypes" class="form-control" style="width: 120px;display:inline-block;"></select>
           				<span class="sp-width">创建时间：</span><input type="text" id="start" name="createTimeBegin"
									onclick="WdatePicker({maxDate:'#F{$dp.$D(\'end\')}'})"
									class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
           					-<input type="text" id="end" name="createTimeEnd"
									onclick="WdatePicker({minDate:'#F{$dp.$D(\'start\')}'})"
									class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
            			<a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
            			<a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
           			</form>
            		<hr>
            	</div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>

<script>
var columns =  [
 		{ title:"标的名称",className:"dt-simple",data: "title", width:140,
 			render: function (value, type, row, meta) {
 			    return commonUtil.getTextByLength(value, 10);
 		    }	
 		},
 		{ title:"借款人",className:"dt-simple",data: "borrowerName", width:100},
 		{ title:"产品名称",className:"dt-simple",data: "productName", width:140,
 			render: function (value, type, row, meta) {
 			    return commonUtil.getTextByLength(value, 10);
 		    }	
 		},
 		{ 
 			title:"产品类型",
 			data: "productType",
 			className:"dt-simple",
 			render: function (value, type, row, meta) {
 			    return DIC_CONSTANT.getName("invest", "product_type", value);
 		    }
 		},
 		{ title:"金额(元)",className:"dt-simple",data: "totalAmount",
            render: function (value, type, row, meta) {
                return commonUtil.toFormatFixed(value);
            }
        },
 		{ title:"年化率(%)",className:"dt-simple",data: "interestRate"},
 		{ title:"加息率(%)",data: "raiseRate",className:"dt-simple",
 			render: function (value, type, row, meta) {
 			    return value;
 		    }
 		},
 		{ title:"期限",data: "termValue",className:"dt-simple",
 			render: function (value, type, row, meta) {
 				return value+DIC_CONSTANT.getName("invest", "bid_term_unit", row.termUnit);
 		    }	
 		},
 		{ title:"本息(元)",data: "sumRepay",className:"dt-simple",
 			render: function (value, type, row, meta) {
 		        if(value==null ){
                    return commonUtil.toFormatFixed(calculator.culInterests(row.totalAmount, row.interestRate, row.termValue));
				}
                return commonUtil.toFormatFixed(value);
 		    }
 		},
 		{ title:"状态",data: "state",className:"dt-simple",
 			render: function (value, type, row, meta) {
 				return DIC_CONSTANT.getName("invest", "bid_state", value);
 		    }
 		},
 		{ title:"创建时间",data: "createTime",className:"dt-simple",
 			render: function (value, type, row, meta) {
 		    	return dateUtil.date(value);
 			}
 		},
 		{ title:"放款时间",data: "lendingTime",className:"dt-simple",
 			render: function (value, type, row, meta) {
                if(dateUtil.date(value)=='0-12-30'){
                    return "------"
				}
 		    	return dateUtil.date(value);
 			}	
 		},
 		{ title:"进度(%)",data: null,className:"dt-narrow",
 			render: function (value, type, row, meta) {
 		    	return commonUtil.toFixed((((row.totalAmount - row.residueAmount) * 100)/row.totalAmount), 2);
 			}	
 		},
 		{
 			title:"操作",
 			data: null,
 			className:"dt-operate",
 		    render: function (data, type, row, meta) {
 		    	//详情按钮
 		    	var btn = commonUtil.createDirectRequestBtn({param:row.id, target:'bidInfoDeatil'},"详细信息","fa-list",1);
 		    	if(row.state == 1){
 		    		btn = btn + commonUtil.createConfirmRequestBtn({id:row.id,ajaxUrl:"bidInfoController/trunOnBid"}, "上架", "标的操作(上架)",
						"确定上架标的?",
						"fa-long-arrow-up");
 		    	}
 		    	if(row.state == 2 && row.residueAmount == row.totalAmount){
 		    		btn = btn + commonUtil.createConfirmRequestBtn({id:row.id,ajaxUrl:"bidInfoController/trunOffBid"}, "下架", "标的操作(下架)", "确定下架标的?", "fa-long-arrow-down");
 		    	}
 		    	//标的对应的产品没有上架不能修改
 		    	if(row.modifyAble){
                    //修改
                    btn = btn +
                        commonUtil.createDirectRequestBtn({param:row.id,row:row,target:'addBidInfo'},"修改","fa-edit");
				}
                //修改按钮,状态为0或1且标的未被投资才允许修改
                if(row.state==0 || row.state==1 && (row.totalAmount == row.residueAmount)){
					//删除
                    btn = btn + commonUtil.createConfirmRequestBtn({id:row.id,ajaxUrl:"bidInfoController/deleteBidInfoOnState"},
						"删除", "标的操作(删除)",
                        "确定删除标的?",
                        "fa fa-times fa-remove hide-underline fa-fw hide-underline");
				}

 			    return btn;
 		    }
 		}
 	];
//创建dataTable列表
dataTableUtil.createDT(CONFIG.interface.bidInfoDetailList, columns);
//初始化查询条件form
dataTableUtil.initDTSearchForm();
//初始化下拉框
// $("#bidState").append(DIC_CONSTANT.getOption("invest", "bid_state", null, "0,9", false));
$("#productType").append(DIC_CONSTANT.getOption("invest", "product_type", 'empty', null));
</script>
