<!-- 选择借款方列表弹窗 -->
<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="userInfoHeader" aria-hidden="true">
    <input type="hidden" id="modalUri">
    <input type="hidden" id="modalData">
    <input type="hidden" id="sucTarget">
    <input type="hidden" id="usertype">
    <div class="modal-dialog" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="userInfoHeader"></h4>
            </div>
            <div class="modal-body" id="matchBody">
                <div id="showSelectUserId" class="clearfix">
                    选择指定用户
                </div>

                <hr>
                <form id="searchForm">
                    姓名：<input name="realName" class="form-control" style="width: 120px;display:inline-block;">
                    手机号：<input name="login" class="form-control" style="width: 120px;display:inline-block;">
                    用户类型：
                    <select id="type" name="type" class="form-control" style="width: 120px;display:inline-block;"></select>
                    <a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
                    <a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
                </form>
                <hr>
                <font color="red" id="errorMsg"></font>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                    <!--记录已经选择的用户id-->
                    <input type="hidden" id="extendsValues">
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    var columns = [
        {title:"手机号", data: "login",className:"dt-simple"},
        { title:"姓名/企业名称", data: "realName" ,className:"dt-simple"},
        { title:"身份证号/执照编号", data: "idCard" ,className:"dt-simple"},
        {
            title:"用户类型",
            data: "type",
            className:"dt-simple",
            render:function(value, type, row, meta){
                return DIC_CONSTANT.getName("user", "type", value);
            }
        },
        {
            title:"状态",
            data: "state",className:"dt-simple",
            render:function(value, type, row, meta){
                return value == 1 ? "启用" : "禁用";
            }
        },
        {
            title:"注册时间",
            data: "createTime",
            className:"dt-simple",
            render:function(value, type, row, meta){
                return dateUtil.date(value);
            }
        },
        {
            title:"操作",
            data: null,
            className:"dt-operate",
            render: function (data, type, row, meta) {
                if(row.identifyPics==null||row.identifyPics.length==0){
                    return "完善身份证图片后可选";
                }
                //选择按钮
                var btn = "<a href=\"javascript:void(0)\""+"onclick='findUserId("+JSON.stringify(row)+");' class='fa  hide-underline' style='padding-left: 3px;padding-right: 3px;'>选择</a>";
                return btn;
            }
        }
    ];

   // var notIncludeIds=$("#extendsValues").val();
    //创建dataTable列表
    dataTableUtil.createDT(CONFIG.interface.userList+"?types=1&types=2&types=3&identify=1", columns);
    //初始化查询条件form
    dataTableUtil.initDTSearchForm();
    $("#type").append(DIC_CONSTANT.getOption("user", "type", '',"1,2,3"));
    /**
     * 生成唯一的uuid
     */
    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
    ///回显图片
    function displayPics(pics,displayIdCardArea) {
        $("#" + displayIdCardArea).empty();
        if(pics.length==0){
            $("#" + displayIdCardArea).html("暂无图片");
            return ;
        }
        for(var i=0;i<pics.length;i++){
            var picUrl = pics[i];
            var ruudi = uuid();
            var div='<span class="form-group"> '+
            '<input type="hidden"  id="'+ruudi+'"/>'+
            '</span> &nbsp;&nbsp;&nbsp;&nbsp;';
            $("#"+displayIdCardArea).append(div);
            $("#"+ruudi).displayBack(ruudi, {},picUrl);
        }

    }

    function findUserId(row){
        if($("#usertype").val()=='borrowerId'){
            //借款人信息
            $("#borrowerId").val(row.userId);
            $("#borrowerIdDetail").removeClass("hide");

            $("#borrowName").html("["+row.realName+"]");
            $("#borrowerTel").html(row.login);
            $("#borrowerIdCard").html(row.idCard);
            //显示图片
            displayPics(row.identifyPics,"borrowerDisplayPics")

        }else{
            //本金接收人信息
            $("#receiptUserId").val(row.userId);
            $("#receiptUserName").html("["+row.realName+"]");

            $("#receiptUserDetail").removeClass("hide");
            $("#receiptUserTel").html(row.login);
            $("#receiptUserCard").html(row.idCard);
            //显示图片
            displayPics(row.identifyPics,"receiptUserDisplayPics")
        }
        //记录已经选择的id
       if(commonUtil.isNotEmpty(row.userId)){
           window.userHasSelected = row.userId;
           $("#extendsValues").val(encryptAndDecryptUtil.encrypt(JSON.stringify({notIncludeIds:window.userHasSelected})));
       }
        $("#userInfoModal").modal('hide');
    }
</script>
