<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.info.model.InfoQuestionnaireItem">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_InfoQuestionnaireItem" type="com.hongkun.finance.info.model.InfoQuestionnaireItem">
		<result property="id" column="id"/>
		<result property="infoQuestionnaireId" column="info_questionnaire_id"/>
		<result property="optionTitle" column="option_title"/>
		<result property="optionContent" column="option_content"/>
		<result property="state" column="state"/>
		<result property="sort" column="sort"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,info_questionnaire_id,option_title,option_content,state,sort,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO info_questionnaire_item ( 
			<if test="id != null">
				id ,
			</if>
			<if test="infoQuestionnaireId != null">
				info_questionnaire_id ,
			</if>
			<if test="optionTitle != null and optionTitle != ''">
				option_title ,
			</if>
			<if test="optionContent != null and optionContent != ''">
				option_content ,
			</if>
			<if test="state != null">
				state ,
			</if>
			<if test="sort != null">
				sort ,
			</if>
				create_time ,
				modify_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="infoQuestionnaireId != null">
				#{infoQuestionnaireId} ,
			</if>
			<if test="optionTitle != null and optionTitle != ''">
				#{optionTitle} ,
			</if>
			<if test="optionContent != null and optionContent != ''">
				#{optionContent} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<if test="sort != null">
				#{sort} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO info_questionnaire_item (
        	id ,
        	info_questionnaire_id ,
        	option_title ,
        	option_content ,
        	state ,
        	sort ,
        	create_time ,
        	modify_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.infoQuestionnaireId != null">
					#{item.infoQuestionnaireId} ,
				</if>
				<if test="item.infoQuestionnaireId == null">
					DEFAULT ,
				</if>
				<if test="item.optionTitle != null and item.optionTitle != ''">
					#{item.optionTitle} ,
				</if>
				<if test="item.optionTitle == null or item.optionTitle == ''">
					DEFAULT ,
				</if>
				<if test="item.optionContent != null and item.optionContent != ''">
					#{item.optionContent} ,
				</if>
				<if test="item.optionContent == null or item.optionContent == ''">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
				<if test="item.sort != null">
					#{item.sort} ,
				</if>
				<if test="item.sort == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="infoQuestionnaireId != null">
			info_questionnaire_id = #{infoQuestionnaireId} ,
		   </if>
			<if test="optionTitle != null and optionTitle != ''">
				option_title = #{optionTitle} ,
			</if>
			<if test="optionContent != null and optionContent != ''">
				option_content = #{optionContent} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="sort != null">
			sort = #{sort} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
	
    <sql id="update_Question_sql">
		<set>
			<if test="optionTitle != null and optionTitle != ''">
				option_title = #{optionTitle} ,
			</if>
			<if test="optionContent != null and optionContent != ''">
				option_content = #{optionContent} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="sort != null">
			sort = #{sort} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
	<!-- 更新 -->
	<update id="update">
		UPDATE  info_questionnaire_item
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>
	<!-- 根据问题ID更新选项内容 -->
	<update id="updateQuestionItemByQuestionId">
		UPDATE  info_questionnaire_item
		<include refid="update_Question_sql"/>
		<![CDATA[
		WHERE 
			info_questionnaire_id = #{infoQuestionnaireId} 
		]]>
	</update>
	

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM info_questionnaire_item 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_InfoQuestionnaireItem">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM info_questionnaire_item 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="infoQuestionnaireId != null">
			AND info_questionnaire_id = #{infoQuestionnaireId}
			</if>
			<if test="optionTitle != null and optionTitle !=''">
			AND option_title = #{optionTitle}
			</if>
			<if test="optionContent != null and optionContent !=''">
			AND option_content = #{optionContent}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
			<if test="sort != null">
			AND sort = #{sort}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM info_questionnaire_item 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_InfoQuestionnaireItem">
		SELECT <include refid="columns" />
		FROM info_questionnaire_item 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
