<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.payment.model.FinAccount">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_FinAccount" type="com.hongkun.finance.payment.model.FinAccount">
		<result property="id" column="id"/>
		<result property="regUserId" column="reg_user_id"/>
		<result property="userName" column="user_name"/>
		<result property="accountType" column="account_type"/>
		<result property="passwd" column="passwd"/>
		<result property="nowMoney" column="now_money"/>
		<result property="freezeMoney" column="freeze_money"/>
		<result property="useableMoney" column="useable_money"/>
		<result property="state" column="state"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,reg_user_id,user_name,account_type,passwd,now_money,freeze_money,useable_money,state,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO fin_account ( 
			<if test="id != null">
				id ,
			</if>
			<if test="regUserId != null">
				reg_user_id ,
			</if>
			<if test="userName != null and userName != ''">
				user_name ,
			</if>
			<if test="accountType != null">
				account_type ,
			</if>
			<if test="passwd != null and passwd != ''">
				passwd ,
			</if>
			<if test="nowMoney != null">
				now_money ,
			</if>
			<if test="freezeMoney != null">
				freeze_money ,
			</if>
			<if test="useableMoney != null">
				useable_money ,
			</if>
			<if test="state != null">
				state ,
			</if>
				create_time ,
				modify_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="regUserId != null">
				#{regUserId} ,
			</if>
			<if test="userName != null and userName != ''">
				#{userName} ,
			</if>
			<if test="accountType != null">
				#{accountType} ,
			</if>
			<if test="passwd != null and passwd != ''">
				#{passwd} ,
			</if>
			<if test="nowMoney != null">
				#{nowMoney} ,
			</if>
			<if test="freezeMoney != null">
				#{freezeMoney} ,
			</if>
			<if test="useableMoney != null">
				#{useableMoney} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO fin_account (
        	id ,
        	reg_user_id ,
        	user_name ,
        	account_type ,
        	passwd ,
        	now_money ,
        	freeze_money ,
        	useable_money ,
        	state ,
        	create_time ,
        	modify_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.regUserId != null">
					#{item.regUserId} ,
				</if>
				<if test="item.regUserId == null">
					DEFAULT ,
				</if>
				<if test="item.userName != null and item.userName != ''">
					#{item.userName} ,
				</if>
				<if test="item.userName == null or item.userName == ''">
					DEFAULT ,
				</if>
				<if test="item.accountType != null">
					#{item.accountType} ,
				</if>
				<if test="item.accountType == null">
					DEFAULT ,
				</if>
				<if test="item.passwd != null and item.passwd != ''">
					#{item.passwd} ,
				</if>
				<if test="item.passwd == null or item.passwd == ''">
					DEFAULT ,
				</if>
				<if test="item.nowMoney != null">
					#{item.nowMoney} ,
				</if>
				<if test="item.nowMoney == null">
					DEFAULT ,
				</if>
				<if test="item.freezeMoney != null">
					#{item.freezeMoney} ,
				</if>
				<if test="item.freezeMoney == null">
					DEFAULT ,
				</if>
				<if test="item.useableMoney != null">
					#{item.useableMoney} ,
				</if>
				<if test="item.useableMoney == null">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
		<!-- 账户的用户ID一般没有更新的情况，所以注释掉 -->
			<!-- <if test="regUserId != null">
			reg_user_id = #{regUserId} ,
		   </if> -->
			<if test="userName != null and userName != ''">
				user_name = #{userName} ,
			</if>
			<if test="accountType != null">
			account_type = #{accountType} ,
		   </if>
			<if test="passwd != null and passwd != ''">
				passwd = #{passwd} ,
			</if>
			<if test="nowMoney != null ">
				now_money =now_money + #{nowMoney} ,
			</if>
			<if test="freezeMoney != null ">
				freeze_money =freeze_money + #{freezeMoney} ,
			</if>
			<if test="useableMoney != null ">
				useable_money =useable_money + #{useableMoney} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  fin_account
		<include refid="update_sql"/>
		<where>
			id = #{id} 
			<if test="beforeNowMoney != null">
				AND now_money = #{beforeNowMoney}
			</if>
		</where>
	</update>
	<!-- 根据用户ID更新账户信息 -->
	<update id="updateAccountByRegUserId">
		UPDATE  fin_account
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			reg_user_id = #{regUserId} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM fin_account 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_FinAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM fin_account 
		WHERE 1 = 1 and state = 1
			AND id = #{id} 
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
			<if test="userName != null and userName !=''">
			AND user_name = #{userName}
			</if>
			<if test="accountType != null">
			AND account_type = #{accountType}
			</if>
			<if test="passwd != null and passwd !=''">
			AND passwd = #{passwd}
			</if>
			<if test="nowMoney != null">
			AND now_money = #{nowMoney}
			</if>
			<if test="freezeMoney != null">
			AND freeze_money = #{freezeMoney}
			</if>
			<if test="useableMoney != null">
			AND useable_money = #{useableMoney}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
			<if test="useableMoneyStart != null">
				AND useable_money >= #{useableMoneyStart}
			</if>
			<if test="useableMoneyEnd != null">
				AND useable_money &lt;= #{useableMoneyEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM fin_account 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_FinAccount">
		SELECT <include refid="columns" />
		FROM fin_account 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>
	<!-- 根据用户ID获取用户账户信息 -->
	<select id="findByRegUserId" resultMap="_FinAccount">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM fin_account 
		WHERE 1 = 1 AND state = 1
			AND reg_user_id = #{regUserId} 
		]]>
	</select>
	
	
	<select id="findFinAccountByRegUserIds"  parameterType="java.util.List"  resultMap="_FinAccount">
		SELECT <include refid="columns" />
		FROM fin_account 
		WHERE 1 = 1 and state = 1
			AND reg_user_id in 
			<foreach collection="list" open="(" separator="," close=")" item="val">
                    #{val}
                </foreach> 
	</select>
	
</mapper>
