<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.sms.model.SmsWebMsgDetail">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_SmsWebMsgDetail" type="com.hongkun.finance.sms.model.SmsWebMsgDetail">
		<result property="id" column="id"/>
		<result property="smsWebMsgId" column="sms_web_msg_id"/>
		<result property="msg" column="msg"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,sms_web_msg_id,msg
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sms_web_msg_detail ( 
			<if test="id != null">
				id ,
			</if>
			<if test="smsWebMsgId != null">
				sms_web_msg_id ,
			</if>
			<if test="msg != null and msg != ''">
				msg 
			</if>
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="smsWebMsgId != null">
				#{smsWebMsgId} ,
			</if>
			<if test="msg != null and msg != ''">
				#{msg} 
			</if>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		<![CDATA[
		INSERT INTO sms_web_msg_detail (
			id , sms_web_msg_id , msg 
		) VALUES 
		]]>
		<foreach collection="list" item="item" index="index" separator=",">
		(
			<if test="item.id != null">
				#{item.id} ,
			</if>
			<if test="item.id == null">
				DEFAULT ,
			</if>
			<if test="item.smsWebMsgId != null">
				#{item.smsWebMsgId} ,
			</if>
			<if test="item.smsWebMsgId == null">
				DEFAULT ,
			</if>
			<if test="item.msg != null and item.msg != ''">
				#{item.msg} 
			</if>
			<if test="item.msg == null or item.msg == ''">
				DEFAULT
			</if>
		)
		</foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="smsWebMsgId != null">
			sms_web_msg_id = #{smsWebMsgId} ,
		   </if>
			<if test="msg != null and msg != ''">
				msg = #{msg} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  sms_web_msg_detail
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM sms_web_msg_detail 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_SmsWebMsgDetail">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM sms_web_msg_detail 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="smsWebMsgId != null">
			AND sms_web_msg_id = #{smsWebMsgId}
			</if>
			<if test="msg != null and msg !=''">
			AND msg = #{msg}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM sms_web_msg_detail 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_SmsWebMsgDetail">
		SELECT <include refid="columns" />
		FROM sms_web_msg_detail 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

    <!-- 根据ID查询 -->
    <select id="findBySmsWebMsgId" resultMap="_SmsWebMsgDetail">
        SELECT <include refid="columns" />
        <![CDATA[
		FROM sms_web_msg_detail 
		WHERE 1 = 1
			AND sms_web_msg_id = #{id}
		]]>
    </select>
</mapper>
