<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.bi.model.StaFunInvite">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_StaFunInvite" type="com.hongkun.finance.bi.model.StaFunInvite">
		<result property="id" column="id"/>
		<result property="regUserId" column="reg_user_id"/>
		<result property="realName" column="real_name"/>
		<result property="regTime" column="reg_time"/>
		<result property="login" column="login"/>
		<result property="inviteNo" column="invite_no"/>
		<result property="inviteSum" column="invite_sum"/>
		<result property="inviteAmount" column="invite_amount"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,reg_user_id,real_name,reg_time,login,invite_no,invite_sum,invite_amount,create_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sta_fun_invite ( 
			<if test="id != null">
				id ,
			</if>
			<if test="regUserId != null">
				reg_user_id ,
			</if>
			<if test="realName != null and realName != ''">
				real_name ,
			</if>
				reg_time ,
			<if test="login != null">
				login ,
			</if>
			<if test="inviteNo != null and inviteNo != ''">
				invite_no ,
			</if>
			<if test="inviteSum != null">
				invite_sum ,
			</if>
			<if test="inviteAmount != null">
				invite_amount ,
			</if>
				create_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="regUserId != null">
				#{regUserId} ,
			</if>
			<if test="realName != null and realName != ''">
				#{realName} ,
			</if>
			<choose>
				<when test="regTime != null">
					#{regTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<if test="login != null">
				#{login} ,
			</if>
			<if test="inviteNo != null and inviteNo != ''">
				#{inviteNo} ,
			</if>
			<if test="inviteSum != null">
				#{inviteSum} ,
			</if>
			<if test="inviteAmount != null">
				#{inviteAmount} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<![CDATA[
		INSERT INTO sta_fun_invite (
	       	id ,
	       	reg_user_id ,
	       	real_name ,
	       	reg_time ,
	       	login ,
	       	invite_no ,
	       	invite_sum ,
	       	invite_amount ,
	       	create_time 
        ) VALUES 
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.regUserId != null">
					#{item.regUserId} ,
				</if>
				<if test="item.regUserId == null">
					DEFAULT ,
				</if>
				<if test="item.realName != null and item.realName != ''">
					#{item.realName} ,
				</if>
				<if test="item.realName == null or item.realName == ''">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.regTime != null">
					#{item.regTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.login != null">
					#{item.login} ,
				</if>
				<if test="item.login == null">
					DEFAULT ,
				</if>
				<if test="item.inviteNo != null and item.inviteNo != ''">
					#{item.inviteNo} ,
				</if>
				<if test="item.inviteNo == null or item.inviteNo == ''">
					DEFAULT ,
				</if>
				<if test="item.inviteSum != null">
					#{item.inviteSum} ,
				</if>
				<if test="item.inviteSum == null">
					DEFAULT ,
				</if>
				<if test="item.inviteAmount != null">
					#{item.inviteAmount} ,
				</if>
				<if test="item.inviteAmount == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="regUserId != null">
			reg_user_id = #{regUserId} ,
		   </if>
			<if test="realName != null and realName != ''">
				real_name = #{realName} ,
			</if>
			<if test="regTime != null">
				reg_time = #{regTime} ,
			</if>
			<if test="login != null">
			login = #{login} ,
		   </if>
			<if test="inviteNo != null and inviteNo != ''">
				invite_no = #{inviteNo} ,
			</if>
			<if test="inviteSum != null">
			invite_sum = #{inviteSum} ,
		   </if>
			<if test="inviteAmount != null ">
				invite_amount =invite_amount + #{inviteAmount} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  sta_fun_invite
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM sta_fun_invite 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_StaFunInvite">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM sta_fun_invite 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
			<if test="realName != null and realName !=''">
			AND real_name = #{realName}
			</if>
			<if test="regTimeBegin != null">
			AND reg_time >= #{regTimeBegin}
			</if>
			<if test="regTimeEnd != null">
			AND reg_time &lt;= #{regTimeEnd}
			</if>
			<if test="login != null">
			AND login = #{login}
			</if>
			<if test="inviteNo != null and inviteNo !=''">
			AND invite_no = #{inviteNo}
			</if>
			<if test="inviteSum != null">
			AND invite_sum = #{inviteSum}
			</if>
			<if test="inviteAmount != null">
			AND invite_amount = #{inviteAmount}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM sta_fun_invite 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_StaFunInvite">
		SELECT <include refid="columns" />
		FROM sta_fun_invite 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
