<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.bi.model.StaFunRecommendBonus">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_StaFunRecommendBonus" type="com.hongkun.finance.bi.model.StaFunRecommendBonus">
		<result property="id" column="id"/>
		<result property="regUserId" column="reg_user_id"/>
		<result property="realName" column="real_name"/>
		<result property="login" column="login"/>
		<result property="recommendRegUserId" column="recommend_reg_user_id"/>
		<result property="recommendRealName" column="recommend_real_name"/>
		<result property="recommendLogin" column="recommend_login"/>
		<result property="recommendNo" column="recommend_no"/>
		<result property="friendLevel" column="friend_level"/>
		<result property="bidId" column="bid_id"/>
		<result property="bidName" column="bid_name"/>
		<result property="termUnit" column="term_unit"/>
		<result property="termValue" column="term_value"/>
		<result property="rate" column="rate"/>
		<result property="investTime" column="invest_time"/>
		<result property="investAmount" column="invest_amount"/>
		<result property="investNum" column="invest_num"/>
		<result property="bonus" column="bonus"/>
		<result property="discountNum" column="discount_num"/>
		<result property="discountAmount" column="discount_amount"/>
		<result property="recommendType" column="recommend_type"/>
		<result property="execRate" column="exec_rate"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,reg_user_id,real_name,login,recommend_reg_user_id,recommend_real_name,recommend_login,recommend_no,friend_level,bid_id,bid_name,term_unit,term_value,rate,invest_time,invest_amount,invest_num,bonus,discount_num,discount_amount,recommend_type,exec_rate,create_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sta_fun_recommend_bonus ( 
			<if test="id != null">
				id ,
			</if>
			<if test="regUserId != null">
				reg_user_id ,
			</if>
			<if test="realName != null and realName != ''">
				real_name ,
			</if>
			<if test="login != null">
				login ,
			</if>
			<if test="recommendRegUserId != null">
				recommend_reg_user_id ,
			</if>
			<if test="recommendRealName != null and recommendRealName != ''">
				recommend_real_name ,
			</if>
			<if test="recommendLogin != null">
				recommend_login ,
			</if>
			<if test="recommendNo != null and recommendNo != ''">
				recommend_no ,
			</if>
			<if test="friendLevel != null">
				friend_level ,
			</if>
			<if test="bidId != null">
				bid_id ,
			</if>
			<if test="bidName != null and bidName != ''">
				bid_name ,
			</if>
			<if test="termUnit != null">
				term_unit ,
			</if>
			<if test="termValue != null">
				term_value ,
			</if>
			<if test="rate != null">
				rate ,
			</if>
				invest_time ,
			<if test="investAmount != null">
				invest_amount ,
			</if>
			<if test="investNum != null">
				invest_num ,
			</if>
			<if test="bonus != null">
				bonus ,
			</if>
			<if test="discountNum != null">
				discount_num ,
			</if>
			<if test="discountAmount != null">
				discount_amount ,
			</if>
			<if test="recommendType != null">
				recommend_type ,
			</if>
			<if test="execRate != null">
				exec_rate ,
			</if>
				create_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="regUserId != null">
				#{regUserId} ,
			</if>
			<if test="realName != null and realName != ''">
				#{realName} ,
			</if>
			<if test="login != null">
				#{login} ,
			</if>
			<if test="recommendRegUserId != null">
				#{recommendRegUserId} ,
			</if>
			<if test="recommendRealName != null and recommendRealName != ''">
				#{recommendRealName} ,
			</if>
			<if test="recommendLogin != null">
				#{recommendLogin} ,
			</if>
			<if test="recommendNo != null and recommendNo != ''">
				#{recommendNo} ,
			</if>
			<if test="friendLevel != null">
				#{friendLevel} ,
			</if>
			<if test="bidId != null">
				#{bidId} ,
			</if>
			<if test="bidName != null and bidName != ''">
				#{bidName} ,
			</if>
			<if test="termUnit != null">
				#{termUnit} ,
			</if>
			<if test="termValue != null">
				#{termValue} ,
			</if>
			<if test="rate != null">
				#{rate} ,
			</if>
			<choose>
				<when test="investTime != null">
					#{investTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<if test="investAmount != null">
				#{investAmount} ,
			</if>
			<if test="investNum != null">
				#{investNum} ,
			</if>
			<if test="bonus != null">
				#{bonus} ,
			</if>
			<if test="discountNum != null">
				#{discountNum} ,
			</if>
			<if test="discountAmount != null">
				#{discountAmount} ,
			</if>
			<if test="recommendType != null">
				#{recommendType} ,
			</if>
			<if test="execRate != null">
				#{execRate} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO sta_fun_recommend_bonus (
        	id ,
        	reg_user_id ,
        	real_name ,
        	login ,
        	recommend_reg_user_id ,
        	recommend_real_name ,
        	recommend_login ,
        	recommend_no ,
        	friend_level ,
        	bid_id ,
        	bid_name ,
        	term_unit ,
        	term_value ,
        	rate ,
        	invest_time ,
        	invest_amount ,
        	invest_num ,
        	bonus ,
        	discount_num ,
        	discount_amount ,
        	recommendType ,
        	exec_rate ,
        	create_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.regUserId != null">
					#{item.regUserId} ,
				</if>
				<if test="item.regUserId == null">
					DEFAULT ,
				</if>
				<if test="item.realName != null and item.realName != ''">
					#{item.realName} ,
				</if>
				<if test="item.realName == null or item.realName == ''">
					DEFAULT ,
				</if>
				<if test="item.login != null">
					#{item.login} ,
				</if>
				<if test="item.login == null">
					DEFAULT ,
				</if>
				<if test="item.recommendRegUserId != null">
					#{item.recommendRegUserId} ,
				</if>
				<if test="item.recommendRegUserId == null">
					DEFAULT ,
				</if>
				<if test="item.recommendRealName != null and item.recommendRealName != ''">
					#{item.recommendRealName} ,
				</if>
				<if test="item.recommendRealName == null or item.recommendRealName == ''">
					DEFAULT ,
				</if>
				<if test="item.recommendLogin != null">
					#{item.recommendLogin} ,
				</if>
				<if test="item.recommendLogin == null">
					DEFAULT ,
				</if>
				<if test="item.recommendNo != null and item.recommendNo != ''">
					#{item.recommendNo} ,
				</if>
				<if test="item.recommendNo == null or item.recommendNo == ''">
					DEFAULT ,
				</if>
				<if test="item.friendLevel != null">
					#{item.friendLevel} ,
				</if>
				<if test="item.friendLevel == null">
					DEFAULT ,
				</if>
				<if test="item.bidId != null">
					#{item.bidId} ,
				</if>
				<if test="item.bidId == null">
					DEFAULT ,
				</if>
				<if test="item.bidName != null and item.bidName != ''">
					#{item.bidName} ,
				</if>
				<if test="item.bidName == null or item.bidName == ''">
					DEFAULT ,
				</if>
				<if test="item.termUnit != null">
					#{item.termUnit} ,
				</if>
				<if test="item.termUnit == null">
					DEFAULT ,
				</if>
				<if test="item.termValue != null">
					#{item.termValue} ,
				</if>
				<if test="item.termValue == null">
					DEFAULT ,
				</if>
				<if test="item.rate != null">
					#{item.rate} ,
				</if>
				<if test="item.rate == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.investTime != null">
					#{item.investTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.investAmount != null">
					#{item.investAmount} ,
				</if>
				<if test="item.investAmount == null">
					DEFAULT ,
				</if>
				<if test="item.investNum != null">
					#{item.investNum} ,
				</if>
				<if test="item.investNum == null">
					DEFAULT ,
				</if>
				<if test="item.bonus != null">
					#{item.bonus} ,
				</if>
				<if test="item.bonus == null">
					DEFAULT ,
				</if>
				<if test="item.discountNum != null">
					#{item.discountNum} ,
				</if>
				<if test="item.discountNum == null">
					DEFAULT ,
				</if>
				<if test="item.discountAmount != null">
					#{item.discountAmount} ,
				</if>
				<if test="item.discountAmount == null">
					DEFAULT ,
				</if>
				<if test="item.recommendType != null">
					#{item.recommendType} ,
				</if>
				<if test="item.recommendType == null">
					DEFAULT ,
				</if>
				<if test="item.execRate != null">
					#{item.execRate} ,
				</if>
				<if test="item.execRate == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="regUserId != null">
			reg_user_id = #{regUserId} ,
		   </if>
			<if test="realName != null and realName != ''">
				real_name = #{realName} ,
			</if>
			<if test="login != null">
			login = #{login} ,
		   </if>
			<if test="recommendRegUserId != null">
			recommend_reg_user_id = #{recommendRegUserId} ,
		   </if>
			<if test="recommendRealName != null and recommendRealName != ''">
				recommend_real_name = #{recommendRealName} ,
			</if>
			<if test="recommendLogin != null">
			recommend_login = #{recommendLogin} ,
			</if>
			<if test="recommendNo != null and recommendNo != ''">
				recommend_no = #{recommendNo} ,
			</if>
			<if test="friendLevel != null">
			friend_level = #{friendLevel} ,
		   </if>
			<if test="bidId != null">
			bid_id = #{bidId} ,
		   </if>
			<if test="bidName != null and bidName != ''">
				bid_name = #{bidName} ,
			</if>
			<if test="termUnit != null">
			term_unit = #{termUnit} ,
		   </if>
			<if test="termValue != null">
			term_value = #{termValue} ,
		   </if>
			<if test="rate != null ">
				rate =rate + #{rate} ,
			</if>
			<if test="investTime != null">
				invest_time = #{investTime} ,
			</if>
			<if test="investAmount != null ">
				invest_amount =invest_amount + #{investAmount} ,
			</if>
			<if test="investNum != null">
			invest_num = #{investNum} ,
		   </if>
			<if test="bonus != null ">
				bonus =bonus + #{bonus} ,
			</if>
			<if test="discountNum != null ">
				discount_num =discount_num + #{discountNum} ,
			</if>
			<if test="discountAmount != null ">
				discount_amount =discount_amount + #{discountAmount} ,
			</if>
			<if test="recommendType != null">
			recommend_type = #{recommendType} ,
		   </if>
			<if test="execRate != null ">
				exec_rate =exec_rate + #{execRate} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  sta_fun_recommend_bonus
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM sta_fun_recommend_bonus 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_StaFunRecommendBonus">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM sta_fun_recommend_bonus 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="regUserId != null">
			AND reg_user_id = #{regUserId}
			</if>
			<if test="realName != null and realName !=''">
			AND real_name LIKE CONCAT('%',#{realName},'%')
			</if>
			<if test="login != null">
			AND login = #{login}
			</if>
			<if test="recommendRegUserId != null">
			AND recommend_reg_user_id = #{recommendRegUserId}
			</if>
			<if test="recommendRealName != null and recommendRealName !=''">
			AND recommend_real_name LIKE CONCAT('%',#{recommendRealName},'%')
			</if>
			<if test="recommendLogin != null">
			AND recommend_login = #{recommendLogin}
			</if>
			<if test="recommendNo != null and recommendNo !=''">
			AND recommend_no = #{recommendNo}
			</if>
			<if test="friendLevel != null">
			AND friend_level = #{friendLevel}
			</if>
			<if test="bidId != null">
			AND bid_id = #{bidId}
			</if>
			<if test="bidName != null and bidName !=''">
			AND bid_name = #{bidName}
			</if>
			<if test="termUnit != null">
			AND term_unit = #{termUnit}
			</if>
			<if test="termValue != null">
			AND term_value = #{termValue}
			</if>
			<if test="rate != null">
			AND rate = #{rate}
			</if>
			<if test="investTimeBegin != null">
			AND invest_time >= #{investTimeBegin}
			</if>
			<if test="investTimeEnd != null">
			AND invest_time &lt;= #{investTimeEnd}
			</if>
			<if test="investAmount != null">
			AND invest_amount = #{investAmount}
			</if>
			<if test="investNum != null">
			AND invest_num = #{investNum}
			</if>
			<if test="bonus != null">
			AND bonus = #{bonus}
			</if>
			<if test="discountNum != null">
			AND discount_num = #{discountNum}
			</if>
			<if test="discountAmount != null">
			AND discount_amount = #{discountAmount}
			</if>
			<if test="recommendType != null and recommendType !='-999'">
			AND recommend_type = #{recommendType}
			</if>
			<if test="execRate != null">
			AND exec_rate = #{execRate}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM sta_fun_recommend_bonus 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_StaFunRecommendBonus">
		SELECT <include refid="columns" />
		FROM sta_fun_recommend_bonus 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
