<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.invest.model.BidTransferRecord">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_BidTransferRecord" type="com.hongkun.finance.invest.model.BidTransferRecord">
		<result property="id" column="id"/>
		<result property="transferbidid" column="transferbidid"/>
		<result property="receivebidid" column="receivebidid"/>
		<result property="commonbidid" column="commonbidid"/>
		<result property="transferAmount" column="transfer_amount"/>
		<result property="transferTime" column="transfer_time"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,transferbidid,receivebidid,commonbidid,transfer_amount,transfer_time,create_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO bid_transfer_record ( 
			<if test="id != null">
				id ,
			</if>
			<if test="transferbidid != null">
				transferbidid ,
			</if>
			<if test="receivebidid != null">
				receivebidid ,
			</if>
			<if test="commonbidid != null">
				commonbidid ,
			</if>
			<if test="transferAmount != null">
				transfer_amount ,
			</if>
				transfer_time ,
				create_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="transferbidid != null">
				#{transferbidid} ,
			</if>
			<if test="receivebidid != null">
				#{receivebidid} ,
			</if>
			<if test="commonbidid != null">
				#{commonbidid} ,
			</if>
			<if test="transferAmount != null">
				#{transferAmount} ,
			</if>
			<choose>
				<when test="transferTime != null">
					#{transferTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="createTime != null">
					#{createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO bid_transfer_record (
        	id ,
        	transferbidid ,
        	receivebidid ,
        	commonbidid ,
        	transfer_amount ,
        	transfer_time ,
        	create_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.transferbidid != null">
					#{item.transferbidid} ,
				</if>
				<if test="item.transferbidid == null">
					DEFAULT ,
				</if>
				<if test="item.receivebidid != null">
					#{item.receivebidid} ,
				</if>
				<if test="item.receivebidid == null">
					DEFAULT ,
				</if>
				<if test="item.commonbidid != null">
					#{item.commonbidid} ,
				</if>
				<if test="item.commonbidid == null">
					DEFAULT ,
				</if>
				<if test="item.transferAmount != null">
					#{item.transferAmount} ,
				</if>
				<if test="item.transferAmount == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.transferTime != null">
					#{item.transferTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="transferbidid != null">
			transferbidid = #{transferbidid} ,
		   </if>
			<if test="receivebidid != null">
			receivebidid = #{receivebidid} ,
		   </if>
			<if test="commonbidid != null">
			commonbidid = #{commonbidid} ,
		   </if>
			<if test="transferAmount != null">
			transfer_amount = #{transferAmount} ,
		   </if>
			<if test="transferTime != null">
				transfer_time = #{transferTime} ,
			</if>
			<if test="createTime != null">
				create_time = #{createTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  bid_transfer_record
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM bid_transfer_record 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_BidTransferRecord">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM bid_transfer_record 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="transferbidid != null">
			AND transferbidid = #{transferbidid}
			</if>
			<if test="receivebidid != null">
			AND receivebidid = #{receivebidid}
			</if>
			<if test="commonbidid != null">
			AND commonbidid = #{commonbidid}
			</if>
			<if test="transferAmount != null">
			AND transfer_amount = #{transferAmount}
			</if>
			<if test="transferTimeBegin != null">
			AND transfer_time >= #{transferTimeBegin}
			</if>
			<if test="transferTimeEnd != null">
			AND transfer_time &lt;= #{transferTimeEnd}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM bid_transfer_record 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_BidTransferRecord">
		SELECT <include refid="columns" />
		FROM bid_transfer_record 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
