<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.vas.model.VasRebatesRule">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_VasRebatesRule" type="com.hongkun.finance.vas.model.VasRebatesRule">
		<result property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="type" column="type"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
		<result property="state" column="state"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,content,type,begin_time,end_time,state,create_time,modify_time,note
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO vas_rebates_rule ( 
			<if test="id != null">
				id ,
			</if>
			<if test="content != null and content != ''">
				content ,
			</if>
			<if test="type != null">
				type ,
			</if>
			<if test="beginTime != null">
				begin_time ,
			</if>
			<if test="endTime != null">
				end_time ,
			</if>
			<if test="state != null">
				state ,
			</if>
				create_time ,
				modify_time 
			<if test="note != null and note != ''">
				,note 
			</if>
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="content != null and content != ''">
				#{content} ,
			</if>
			<if test="type != null">
				#{type} ,
			</if>
			<if test="beginTime != null">
				#{beginTime} ,
			</if>
			<if test="endTime != null">
				#{endTime} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime}
				</when>
				<otherwise>
					 NOW()
				</otherwise>
			</choose>
			<if test="note != null and note != ''">
				,#{note} 
			</if>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO vas_rebates_rule (
        	id ,
        	content ,
        	type ,
        	begin_time ,
        	end_time ,
        	state ,
        	create_time ,
        	modify_time ,
        	note 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.content != null and item.content != ''">
					#{item.content} ,
				</if>
				<if test="item.content == null or item.content == ''">
					DEFAULT ,
				</if>
				<if test="item.type != null">
					#{item.type} ,
				</if>
				<if test="item.type == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.beginTime != null">
					#{item.beginTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.endTime != null">
					#{item.endTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.note != null and item.note != ''">
					#{item.note} 
				</if>
				<if test="item.note == null or item.note == ''">
					DEFAULT 
				</if>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="content != null and content != ''">
				content = #{content} ,
			</if>
			<if test="type != null">
			type = #{type} ,
		   </if>
			<if test="beginTime != null">
				begin_time = #{beginTime} ,
			</if>
			<if test="endTime != null">
				end_time = #{endTime} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} ,
			</if>
			<if test="note != null and note != ''">
				note = #{note} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  vas_rebates_rule
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM vas_rebates_rule 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_VasRebatesRule">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM vas_rebates_rule 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="content != null and content !=''">
			AND content = #{content}
			</if>
			<if test="type != null and type!=-999">
			AND type = #{type}
			</if>
			<if test="beginTimeBegin != null">
			AND begin_time >= #{beginTimeBegin}
			</if>
			<if test="beginTimeEnd != null">
			AND begin_time &lt;= #{beginTimeEnd}
			</if>
			<if test="endTimeBegin != null">
			AND end_time >= #{endTimeBegin}
			</if>
			<if test="endTimeEnd != null">
			AND end_time &lt;= #{endTimeEnd}
			</if>
			<if test="state != null and state !=-999">
			AND state = #{state}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
			<if test="note != null and note !=''">
			AND note = #{note}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM vas_rebates_rule 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_VasRebatesRule">
		SELECT <include refid="columns" />
		FROM vas_rebates_rule 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>
</mapper>
