<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.vas.model.VasVipGradeStandard">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_VasVipGradeStandard" type="com.hongkun.finance.vas.model.VasVipGradeStandard">
		<result property="id" column="id"/>
		<result property="level" column="level"/>
		<result property="growthValMin" column="growth_val_min"/>
		<result property="growthValMax" column="growth_val_max"/>
		<result property="state" column="state"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,level,growth_val_min,growth_val_max,state,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO vas_vip_grade_standard ( 
			<if test="id != null">
				id ,
			</if>
			<if test="level != null">
				level ,
			</if>
			<if test="growthValMin != null">
				growth_val_min ,
			</if>
			<if test="growthValMax != null">
				growth_val_max ,
			</if>
			<if test="state != null">
				state ,
			</if>
				create_time ,
				modify_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="level != null">
				#{level} ,
			</if>
			<if test="growthValMin != null">
				#{growthValMin} ,
			</if>
			<if test="growthValMax != null">
				#{growthValMax} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO vas_vip_grade_standard (
        	id ,
        	level ,
        	growth_val_min ,
        	growth_val_max ,
        	state ,
        	create_time ,
        	modify_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.level != null">
					#{item.level} ,
				</if>
				<if test="item.level == null">
					DEFAULT ,
				</if>
				<if test="item.growthValMin != null">
					#{item.growthValMin} ,
				</if>
				<if test="item.growthValMin == null">
					DEFAULT ,
				</if>
				<if test="item.growthValMax != null">
					#{item.growthValMax} ,
				</if>
				<if test="item.growthValMax == null">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="level != null">
			level = #{level} ,
		   </if>
			<if test="growthValMin != null">
			growth_val_min = #{growthValMin} ,
		   </if>
			<if test="growthValMax != null">
			growth_val_max = #{growthValMax} ,
		   </if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  vas_vip_grade_standard
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM vas_vip_grade_standard 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_VasVipGradeStandard">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM vas_vip_grade_standard 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
			AND id = #{id}
			</if>
			<if test="level != null">
			AND level = #{level}
			</if>
			<if test="growthValMin != null">
			AND growth_val_min = #{growthValMin}
			</if>
			<if test="growthValMax != null">
			AND growth_val_max = #{growthValMax}
			</if>
			<if test="state != null">
			AND state = #{state}
			</if>
			<if test="createTimeBegin != null">
			AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
			AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
			AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
			AND modify_time &lt;= #{modifyTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM vas_vip_grade_standard 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_VasVipGradeStandard">
		SELECT <include refid="columns" />
		FROM vas_vip_grade_standard 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

	<!-- 根据成长值获取对应的等级 -->
	<select id="findLevelByGrowValue" resultType="java.lang.Integer">
		SELECT level
		<![CDATA[
		FROM vas_vip_grade_standard
		WHERE state = 1
		AND growth_val_min <= #{growValue}
		AND growth_val_max > #{growValue}
		]]>
	</select>

	<select id="findVasVipGradeStandardByLevel" resultMap="_VasVipGradeStandard" parameterType="java.lang.Integer">
		SELECT <include refid="columns" />
		FROM vas_vip_grade_standard
		WHERE level = #{level}
	</select>
</mapper>
