<div>
        <div class="panel panel-default">
            <div class="panel-body" >
	                <div class="well">
						 <p class="font_div" style="color: #848484;"><span>姓名：</span>{{gold.realName}}</p>
			   		     <p class="font_div" style="color: #848484;"><span>手机号：</span>{{gold.login}}</p>
			   		     <p class="font_div" style="color: #848484;"><span>体验金余额：</span>{{gold.money}}</p>
			   		     <p class="font_div" style="color: #848484;"><span>投资状态：</span>{{gold.state}}</p>
			   		</div>
	         </div>
         </div>
            <!-- /.panel-body -->
 </div>
