<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                创建app消息推送
            </div>
            <form name="dataForm" id="dataForm" enctype="multipart/form-data">
                <div class="panel-body">
                    <div class="well">
                        <input type="hidden" name="id" ng-model="appMsgPush.id" value="{{appMsgPush.id}}">
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>标题:</label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="title" ng-model="appMsgPush.title"
                                   validator="required,title" type="text"  range-error-message="请输入标题!"
                                   range-success-message="" valid-method="blur" message-id="titleError">
                            <span style="color:#F00" id="titleError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>内容:</label>
                            <textarea id="content" name="content" ng-model="appMsgPush.content"  class="textstyle"
                                      style="height: 100px;" validator="required,lengtext" min="1" max="200"
                                      valid-method="blur"
                                      message-id="contentError"></textarea>
                            <span style="color:#F00" class="bid-info" id="contentError"></span>
                        </div>
                        <div class="form-group" style="height: 30px">
                            <label class="textright" style="width: 160px;float: left"><span class="font-red">*&nbsp;</span>目标平台:</label>
                            <input type="hidden" name="targetPlatform"  id="targetPlatform" ng-model="appMsgPush.targetPlatform"/>
                            <div  ng-repeat="sp in targetPlatforms" style="float:left;margin-left:5px;">
                                <div>
                                    <label for="targetPlatform{{sp.value}}">
                                        <input id="targetPlatform{{sp.value}}" type="checkbox"  value={{sp.value}} name="targetPlatform" ng-model="sp.checked" style="margin:10px 0 0;" />{{sp.name}}
                                    </label>
                                </div>
                            </div>
                            <span class="bid-info show-span" id="targetPlatformError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>目标用户:</label>
                            <span ng-repeat="temp in targetUsers">
								 <input type="radio" name="targetUser" ng-model="appMsgPush.targetUser"
                                        validator="required" validation-group="targetUserError"
                                        value="{{temp.value}}" >{{temp.name}}
							</span>
                            <span class="bid-info show-span" id="targetUserError"></span>
                        </div>
                        <div class="form-group" ng-if="appMsgPush.targetUser == 1" style="height: 30px">
                            <label class="textright" style="width: 160px;float: left"><span class="font-red">*&nbsp;</span>用户标签:
                            </label>
                            <input type="hidden" name="targetUserTag"  id="targetUserTag" ng-model="appMsgPush.targetUserTag"/>
                            <div  ng-repeat="sp in targetUserTags" style="float:left;margin-left:5px;">
                                <div>
                                    <label for="targetUserTag{{sp.value}}">
                                        <input id="targetUserTag{{sp.value}}" type="checkbox"  value={{sp.value}} name="targetUserTag" ng-model="sp.checked" style="margin:10px 0 0;"/>{{sp.name}}
                                    </label>
                                </div>
                            </div>
                            <span class="bid-info show-span" id="targetUserTagError"></span>
                        </div>
                        <div class="form-group" ng-if="appMsgPush.targetUser == 1">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>
                                用户标签设置:</label>
                            <span ng-repeat="temp in targetUserTagSets">
								 <input type="radio" name="targetUserTagSet" ng-model="appMsgPush.targetUserTagSet" validator="required" validation-group="targetUserTagSetError"
                                        value="{{temp.value}}" >{{temp.name}}
							</span>
                            <span class="bid-info show-span" id="targetUserTagSetError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>推送方式:</label>
                            <span ng-repeat="temp in pushModes">
								 <input type="radio" name="pushMode" ng-model="appMsgPush.pushMode"
                                        validator="required" validation-group="pushModeError"
                                        value="{{temp.value}}" >{{temp.name}}
							</span>
                            <span class="bid-info show-span" id="pushModeError"></span>
                        </div>
                        <div class="form-group" ng-if="appMsgPush.pushMode == 1">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>推送时间:</label>
                            <input  type="text" id="pushTime"
                                    onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:00:00',minDate:'%y-%M-%d {%H+1}'})"
                                    class="Wdate form-control" ng-model="appMsgPush.pushTime" validator="required"
                                    valid-method="blur" message-id="pushTimeError" name="pushTime" readonly="readonly"
                                    style="width:20%;height:30px;display:inline-block;" ng-focus="timeChange('pushTime')"/>
                            <span class="bid-info show-span" id="pushTimeError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>
                                消息有效期设置:</label>
                            <span ng-repeat="temp in msgExpireSets">
								 <input type="radio" name="msgExpireSet" ng-model="appMsgPush.msgExpireSet"
                                        validator="required" validation-group="msgExpireSetError" value="{{temp.value}}" >{{temp.name}}
							</span>
                            <span class="bid-info show-span" id="msgExpireSetError"></span>
                        </div>
                        <div class="form-group" ng-if="appMsgPush.msgExpireSet == 1">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>消息有效期:</label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="msgExpireTime" ng-model="appMsgPush.msgExpireTime"
                                   validator="required,integertext" type="text"  range-error-message="请输入消息有效期!"
                                   range-success-message="" valid-method="blur" message-id="msgExpireTimeError">
                            <span class="bid-info show-span">(请输入0- 72 小时内的正整数，该时间段内在线过的用户均可收到通知) </span>
                            <span class="bid-info show-span" id="msgExpireTimeError"></span>
                        </div>
                        <div class="form-group">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>打开消息动作:</label>
                            <span ng-repeat="temp in msgActions">
								 <input type="radio" name="msgAction" ng-model="appMsgPush.msgAction" validator="required" validation-group="msgActionError"
                                        value="{{temp.value}}" >{{temp.name}}
							</span>
                            <span class="bid-info show-span" id="msgActionError"></span>
                        </div>
                        <div class="form-group" ng-if="appMsgPush.msgAction == 2">
                            <label class="textright" style="width: 160px"><span class="font-red">*&nbsp;</span>链接地址:</label>
                            <input class="form-control ng-pristine ng-valid ng-touched textstyle"
                                   name="msgActionLink" ng-model="appMsgPush.msgActionLink"
                                   validator="required,lengtext" min="1" max="100" type="text"
                                   range-error-message="请输入链接地址!"
                                   range-success-message="" valid-method="blur" message-id="msgActionLinkError">
                            <span class="bid-info show-span">(请填写已http://或https://开头的完整地址)</span>
                            <span class="bid-info show-span" id="msgActionLinkError"></span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline btn-success"
                                    ng-click="saveAndUpdate(dataForm)" validator-submit="dataForm">保存</button>
                            <button type="button" class="btn btn-outline btn-success" ng-click="back()">返回</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>