<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
			<div class="panel-heading clearfix" style="line-height: 34px;">
				<span style="float:left;">短信发送</span>
				<a href="javascript:void(0)" class="btn btn-info" onclick="sendTelMsg()" style="display:inline-block;float:right;margin-right: 10px;">发送</a>
				<a href="javascript:void(0)" class="btn btn-info" onclick="commonUtil.goPage('sendTelMsgBatch')" style="display:inline-block;float:right;margin-right: 10px;">一键发送</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="span12" id="div-table-container"></div>
            <!-- /.panel-heading -->
            <div class="panel-body" >
            	<div>
            		<hr>
           			<form id="searchForm">
           				<div>
           				姓名：<input name="realName" class="form-control" style="width: 120px;display:inline-block;">

           				手机号：<input name="login" validate="tel" class="form-control" style="width: 120px;display:inline-block;">
           				客户群：<select name="userGroup" class="form-control" style="width: 120px;display:inline-block;">
            					<option value="-999">=请选择=</option>
            					<option value="1">投资用户</option>
            					<option value="2">实名未投资</option>
            					<option value="3">实名</option>
            					<option value="4">男性用户</option>
            					<option value="5">女性用户</option>
            					<option value="6">不活跃用户</option>
            					<option value="7">导入型用户</option>
            			</select>
           				注册时间：<input type="text" id="start" name="createTimeStart" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'end\')}'})" class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
           					-<input type="text" id="end" name="createTimeEnd" onclick="WdatePicker({minDate:'#F{$dp.$D(\'start\')}'})" class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
            			<a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
            			<a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
						</div>
           			</form>
            		<hr>
            	</div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>

<script>
	var columns = [
        dataTableUtil.createCheckBox("userId"),
		{title: "手机号", data: "login", className: "dt-simple"},
		{title: "姓名/企业名称", data: "realName", className: "dt-simple"},
		{title: "身份证号/执照编号", data: "idCard", className: "dt-simple"},
		{
			title: "注册时间",
			data: "createTime",
			className: "dt-simple",
			render: function (value, type, row, meta) {
				return dateUtil.date(value);
			}
		}
	];
	//创建dataTable列表
	dataTableUtil.createDT(CONFIG.interface.sendTelMsgList, columns);
	//初始化查询条件form
	dataTableUtil.initDTSearchForm();

	//预更新用户被推荐人
	function sendTelMsg(val){
		var contents = '内容：<textarea name="msg" type="text" class="confirmChildrenTextArea"/>';
        //获取选中的列表用户id集合,并赋值
        if (!dataTableUtil.setCheckedValToObject("ids")){
            commonUtil.createSimpleNotify("请至少选择一个用户!", ALERT_WARN);
            return;
        }
        commonUtil.createCustomConfirmBox("短信内容", contents, CONFIG.interface.sendTelMsg, validateTelMsg, commonUtil.customConfirmStandardAfterExecuteFn);
    }

	//验证邀请码准确定
	function validateTelMsg(){
		if(commonUtil.isEmpty($("textarea[name=msg]").val())){
			$("#_confirmError").text("请输入有效的内容");
			return false;
		}
		return true;
	}
</script>