<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="line-height: 34px;">
                <span style="float:left;">短信消息管理</span>
            </div>
            <div class="span12" id="div-table-container"></div>

            <div class="panel-body">
                <div>
                    <hr>
                    <form id="searchForm">
                        <div>
                            手机号：<input name="tel" validate="tel" class="form-control" style="width: 120px;display:inline-block;">
                            类型：<select id="type" name="type" class="form-control"
                                       style="width: 120px;display:inline-block;"></select>
                            状态：<select id="state" name="state" class="form-control"
                                       style="width: 140px;display:inline-block;"></select>
                            <span class="sp-width">创建时间：</span> <input type="text" id="createTimeBegin" name="createTimeBegin"
                                                                       onclick="WdatePicker({maxDate:'#F{$dp.$D(\'createTimeEnd\')}'})"
                                                                       class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                            -<input type="text" id="createTimeEnd" name="createTimeEnd"
                                    onclick="WdatePicker({minDate:'#F{$dp.$D(\'createTimeBegin\')}'})"
                                    class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                            <span class="sp-width">发送时间：</span> <input type="text" id="sendTimeBegin" name="sendTimeBegin"
                                                                       onclick="WdatePicker({maxDate:'#F{$dp.$D(\'sendTimeEnd\')}'})"
                                                                       class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                            -<input type="text" id="sendTimeEnd" name="sendTimeEnd"
                                    onclick="WdatePicker({minDate:'#F{$dp.$D(\'sendTimeBegin\')}'})"
                                    class="Wdate form-control" readonly="readonly" style="width:120px;height:35px;display:inline-block;"/>
                            <a href="javascript:void(0)" class="btn btn-info" id="searchForm-searchBtn" style="display:inline-block;">搜索</a>
                            <a href="javascript:void(0)" class="btn btn-danger" id="searchForm-cleanBtn" style="display:inline-block;">清空</a>
                        </div>
                    </form>
                    <hr>
                </div>
                <table id="mDataTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>

<!-- 引入确认对话框  -->
<div ng-include="'pages/template/confirm.html'"></div>

<script>
    var columns = [
        {title:"手机号",data:"tel",className:"dt-simple"},
        {title:"内容",data:"msg",className:"dt-simple"},
        {title:"类型",data:"type",className:"dt-simple",render:function (value) {
            return DIC_CONSTANT.getName("sms","tel_type",value);
        }},
        {title:"状态",data:"state",className:"dt-simple",render:function (value) {
            return DIC_CONSTANT.getName("sms","tel_state",value);
        }},
        {title:"发送时间",data:"sendTime",className:"dt-simple",render:function (value) {
            return dateUtil.dateTime(value);
        }},
        {title:"创建时间",data:"createTime",className:"dt-simple",render:function (value) {
            return dateUtil.dateTime(value);
        }},
        {title:"操作",data:null,className:"dt-simple",render:function (value,type,row) {
            //初始化状态的非验证码短信支持重发
            if (row.state == 0 && (row.type == 1 || row.type == 2)){
                return  commonUtil.createConfirmRequestBtn({id:row.id,ajaxUrl:"smsController/retryTelSms"},"重发","重发手机短信","确定重发该手机短信么!","fa fa-repeat");
            }else {
                return "--";
            }
        }}
    ];
    //创建dataTable列表
    dataTableUtil.createDT(CONFIG.interface.telMsgManageList,columns);
    //初始化查询条件form
    dataTableUtil.initDTSearchForm();
    //初始化短信类型下拉框
    $("#type").append(DIC_CONSTANT.getOption("sms","tel_type","empty"));
    //初始化短信状态下拉框
    $("#state").append(DIC_CONSTANT.getOption("sms","tel_state","empty"));
</script>