*{margin:0px;padding:0px;border:0px;}
body{font-family: "微软雅黑";}
html,body{height:auto;}
input,button{font-family: "微软雅黑";}
.fl{float:left;dipslay:inline;}
.box{width:818px; position:relative;}
.clear{clear:both;}
.fhb_main{position: relative;border:1px solid #ddd;padding:20px;}
.fhb_tips{background:url(../img/account/ic_tishixiaolaba.png) no-repeat 16px 10px;font-size:14px;color:#f39200;padding-left:50px;line-height:40px;}
.fhb_list {margin-top:0px;}
.zd_name{float:left;display:inline;width:160px;text-align:right;color:#525252;font-size:14px;line-height:44px;}
.zd_cont{float:left;display:inline;width:530px;margin-left:15px;}
.zd_cont span{color:#fd2f2a;}
.fhb_input{width:285px;height:42px;border:1px solid #ddd;font-size:14px;color:#999;text-indent: 15px;line-height:42px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;overflow: hidden;behavior: url(PIE.htc);}
.lh{line-height: 42px;}
.zd_tips{font-size:12px;color:#999;line-height:26px;}
.add_tle{width:420px;margin-top:5px;font-size:14px;color:#999;text-indent: 15px;line-height:42px;-moz-border-radius: 5px;-webkit-border-radius: 5px;overflow: hidden;behavior: url(PIE.htc);}
/*.tle_c{margin:10px 20px 10px 20px;}*/
.add_button{margin-left:18px;width:70px;height:40px;background: #f39200;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;font-size:14px;color:#fff; text-align:center;line-height:40px; cursor: pointer;}
.add_button:hover,.hb_button:hover{background: #f08300;}
.mlr_20{margin-left:5px;margin-top:0px;}
.mt_10{margin-top:10px;}
.w_240{width:240px;margin-left:0px;margin-top:15px;}
.Validform_wrong{padding-left: 16px;white-space: nowrap;background: url(../../lib/validform/images/error.png) no-repeat left center;}