<!-- 选择借款方列表弹窗 -->
<div class="modal fade" id="childMenusAlertModal" tabindex="-1" role="dialog" aria-labelledby="userInfoHeader" aria-hidden="true">
    <div class="modal-dialog" style="width:900px;">
        <div class="modal-content">
            <div class="modal-body" id="matchBody">
                <table id="childMenusTable" class="table table-striped table-bordered table-hover" style="cellspacing:0;width:100%">
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    dataTableUtil.createDTNoPageByPager(CONFIG.interface.listChildMenus, columns,"childMenusTable");
</script>
