<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.hongkun.finance.contract.model.ConInfo">

	<!-- POJO类与数据库字段对应关系 -->
	<resultMap id="_ConInfo" type="com.hongkun.finance.contract.model.ConInfo">
		<result property="id" column="id"/>
		<result property="contractCode" column="contract_code"/>
		<result property="bidId" column="bid_id"/>
		<result property="bidInvestId" column="bid_invest_id"/>
		<result property="contractType" column="contract_type"/>
		<result property="contractTemplateId" column="contract_template_id"/>
		<result property="effectiveDate" column="effective_date"/>
		<result property="expireDate" column="expire_date"/>
		<result property="investUserId" column="invest_user_id"/>
		<result property="investName" column="invest_name"/>
		<result property="investCardId" column="invest_card_id"/>
		<result property="investAmount" column="invest_amount"/>
		<result property="investCouponKValue" column="invest_coupon_k_value"/>
		<result property="investCouponJValue" column="invest_coupon_j_value"/>
		<result property="bidName" column="bid_name"/>
		<result property="bidRate" column="bid_rate"/>
		<result property="bidAmount" column="bid_amount"/>
		<result property="bidTermValue" column="bid_term_value"/>
		<result property="bidTerm" column="bid_term"/>
		<result property="borrowName" column="borrow_name"/>
		<result property="borrowCardId" column="borrow_card_id"/>
		<result property="bidLoanUse" column="bid_loan_use"/>
		<result property="biddRepaymentWay" column="bidd_repayment_way"/>
		<result property="payeeName" column="payee_name"/>
		<result property="payeeBankCard" column="payee_bank_card"/>
		<result property="payeeBankName" column="payee_bank_name"/>
		<result property="bidProjectNo" column="bid_project_no"/>
		<result property="investTel" column="invest_tel"/>
		<result property="investEmail" column="invest_email"/>
		<result property="borrowAddress" column="borrow_address"/>
		<result property="bidBillNo" column="bid_bill_no"/>
		<result property="state" column="state"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyTime" column="modify_time"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,contract_code,bid_id,bid_invest_id,contract_type,contract_template_id,effective_date,expire_date,invest_user_id,invest_name,invest_card_id,invest_amount,invest_coupon_k_value,invest_coupon_j_value,bid_name,bid_rate,bid_amount,bid_term_value,bid_term,borrow_name,borrow_card_id,bid_loan_use,bidd_repayment_way,payee_name,payee_bank_card,payee_bank_name,bid_project_no,invest_tel,invest_email,borrow_address,bid_bill_no,state,create_time,modify_time
		]]>
	</sql>

	<!-- 插入 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO con_info ( 
			<if test="id != null">
				id ,
			</if>
			<if test="contractCode != null and contractCode != ''">
				contract_code ,
			</if>
			<if test="bidId != null">
				bid_id ,
			</if>
			<if test="bidInvestId != null">
				bid_invest_id ,
			</if>
			<if test="contractType != null">
				contract_type ,
			</if>
			<if test="contractTemplateId != null">
				contract_template_id ,
			</if>
				effective_date ,
				expire_date ,
			<if test="investUserId != null">
				invest_user_id ,
			</if>
			<if test="investName != null and investName != ''">
				invest_name ,
			</if>
			<if test="investCardId != null and investCardId != ''">
				invest_card_id ,
			</if>
			<if test="investAmount != null">
				invest_amount ,
			</if>
			<if test="investCouponKValue != null">
				invest_coupon_k_value ,
			</if>
			<if test="investCouponJValue != null">
				invest_coupon_j_value ,
			</if>
			<if test="bidName != null and bidName != ''">
				bid_name ,
			</if>
			<if test="bidRate != null">
				bid_rate ,
			</if>
			<if test="bidAmount != null">
				bid_amount ,
			</if>
			<if test="bidTermValue != null">
				bid_term_value ,
			</if>
			<if test="bidTerm != null">
				bid_term ,
			</if>
			<if test="borrowName != null and borrowName != ''">
				borrow_name ,
			</if>
			<if test="borrowCardId != null and borrowCardId != ''">
				borrow_card_id ,
			</if>
			<if test="bidLoanUse != null">
				bid_loan_use ,
			</if>
			<if test="biddRepaymentWay != null">
				bidd_repayment_way ,
			</if>
			<if test="payeeName != null and payeeName != ''">
				payee_name ,
			</if>
			<if test="payeeBankCard != null and payeeBankCard != ''">
				payee_bank_card ,
			</if>
			<if test="payeeBankName != null and payeeBankName != ''">
				payee_bank_name ,
			</if>
			<if test="bidProjectNo != null and bidProjectNo != ''">
				bid_project_no ,
			</if>
			<if test="investTel != null">
				invest_tel ,
			</if>
			<if test="investEmail != null and investEmail != ''">
				invest_email ,
			</if>
			<if test="borrowAddress != null and borrowAddress != ''">
				borrow_address ,
			</if>
			<if test="bidBillNo != null and bidBillNo != ''">
				bid_bill_no ,
			</if>
			<if test="state != null">
				state ,
			</if>
				create_time ,
				modify_time 
		) VALUES (
			<if test="id != null">
				#{id} ,
			</if>
			<if test="contractCode != null and contractCode != ''">
				#{contractCode} ,
			</if>
			<if test="bidId != null">
				#{bidId} ,
			</if>
			<if test="bidInvestId != null">
				#{bidInvestId} ,
			</if>
			<if test="contractType != null">
				#{contractType} ,
			</if>
			<if test="contractTemplateId != null">
				#{contractTemplateId} ,
			</if>
			<choose>
				<when test="effectiveDate != null">
					#{effectiveDate} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="expireDate != null">
					#{expireDate} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<if test="investUserId != null">
				#{investUserId} ,
			</if>
			<if test="investName != null and investName != ''">
				#{investName} ,
			</if>
			<if test="investCardId != null and investCardId != ''">
				#{investCardId} ,
			</if>
			<if test="investAmount != null">
				#{investAmount} ,
			</if>
			<if test="investCouponKValue != null">
				#{investCouponKValue} ,
			</if>
			<if test="investCouponJValue != null">
				#{investCouponJValue} ,
			</if>
			<if test="bidName != null and bidName != ''">
				#{bidName} ,
			</if>
			<if test="bidRate != null">
				#{bidRate} ,
			</if>
			<if test="bidAmount != null">
				#{bidAmount} ,
			</if>
			<if test="bidTermValue != null">
				#{bidTermValue} ,
			</if>
			<if test="bidTerm != null">
				#{bidTerm} ,
			</if>
			<if test="borrowName != null and borrowName != ''">
				#{borrowName} ,
			</if>
			<if test="borrowCardId != null and borrowCardId != ''">
				#{borrowCardId} ,
			</if>
			<if test="bidLoanUse != null">
				#{bidLoanUse} ,
			</if>
			<if test="biddRepaymentWay != null">
				#{biddRepaymentWay} ,
			</if>
			<if test="payeeName != null and payeeName != ''">
				#{payeeName} ,
			</if>
			<if test="payeeBankCard != null and payeeBankCard != ''">
				#{payeeBankCard} ,
			</if>
			<if test="payeeBankName != null and payeeBankName != ''">
				#{payeeBankName} ,
			</if>
			<if test="bidProjectNo != null and bidProjectNo != ''">
				#{bidProjectNo} ,
			</if>
			<if test="investTel != null">
				#{investTel} ,
			</if>
			<if test="investEmail != null and investEmail != ''">
				#{investEmail} ,
			</if>
			<if test="borrowAddress != null and borrowAddress != ''">
				#{borrowAddress} ,
			</if>
			<if test="bidBillNo != null and bidBillNo != ''">
				#{bidBillNo} ,
			</if>
			<if test="state != null">
				#{state} ,
			</if>
			<choose>
				<when test="createTime != null">
					#{createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="modifyTime != null">
					#{modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		INSERT INTO con_info (
        	id ,
        	contract_code ,
        	bid_id ,
        	bid_invest_id ,
        	contract_type ,
        	contract_template_id ,
        	effective_date ,
        	expire_date ,
        	invest_user_id ,
        	invest_name ,
        	invest_card_id ,
        	invest_amount ,
			invest_coupon_k_value,
			invest_coupon_j_value,
        	bid_name ,
        	bid_rate ,
        	bid_amount ,
        	bid_term_value ,
        	bid_term ,
        	borrow_name ,
        	borrow_card_id ,
        	bid_loan_use ,
        	bidd_repayment_way ,
        	payee_name ,
        	payee_bank_card ,
        	payee_bank_name ,
        	bid_project_no ,
        	invest_tel ,
        	invest_email ,
        	borrow_address ,
        	bid_bill_no ,
        	state ,
        	create_time ,
        	modify_time 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator=",">
        (
				<if test="item.id != null">
					#{item.id} ,
				</if>
				<if test="item.id == null">
					DEFAULT ,
				</if>
				<if test="item.contractCode != null and item.contractCode != ''">
					#{item.contractCode} ,
				</if>
				<if test="item.contractCode == null or item.contractCode == ''">
					DEFAULT ,
				</if>
				<if test="item.bidId != null">
					#{item.bidId} ,
				</if>
				<if test="item.bidId == null">
					DEFAULT ,
				</if>
				<if test="item.bidInvestId != null">
					#{item.bidInvestId} ,
				</if>
				<if test="item.bidInvestId == null">
					DEFAULT ,
				</if>
				<if test="item.contractType != null">
					#{item.contractType} ,
				</if>
				<if test="item.contractType == null">
					DEFAULT ,
				</if>
				<if test="item.contractTemplateId != null">
					#{item.contractTemplateId} ,
				</if>
				<if test="item.contractTemplateId == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.effectiveDate != null">
					#{item.effectiveDate} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.expireDate != null">
					#{item.expireDate} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
				<if test="item.investUserId != null">
					#{item.investUserId} ,
				</if>
				<if test="item.investUserId == null">
					DEFAULT ,
				</if>
				<if test="item.investName != null and item.investName != ''">
					#{item.investName} ,
				</if>
				<if test="item.investName == null or item.investName == ''">
					DEFAULT ,
				</if>
				<if test="item.investCardId != null and item.investCardId != ''">
					#{item.investCardId} ,
				</if>
				<if test="item.investCardId == null or item.investCardId == ''">
					DEFAULT ,
				</if>
				<if test="item.investAmount != null">
					#{item.investAmount} ,
				</if>
				<if test="item.investAmount == null">
					DEFAULT ,
				</if>
				<if test="item.investCouponKValue != null">
					#{item.investCouponKValue} ,
				</if>
				<if test="item.investCouponKValue == null">
					DEFAULT ,
				</if>
				<if test="item.investCouponJValue != null">
					#{item.investCouponJValue} ,
				</if>
				<if test="item.investCouponJValue == null">
					DEFAULT ,
				</if>
				<if test="item.bidName != null and item.bidName != ''">
					#{item.bidName} ,
				</if>
				<if test="item.bidName == null or item.bidName == ''">
					DEFAULT ,
				</if>
				<if test="item.bidRate != null">
					#{item.bidRate} ,
				</if>
				<if test="item.bidRate == null">
					DEFAULT ,
				</if>
				<if test="item.bidAmount != null">
					#{item.bidAmount} ,
				</if>
				<if test="item.bidAmount == null">
					DEFAULT ,
				</if>
				<if test="item.bidTermValue != null">
					#{item.bidTermValue} ,
				</if>
				<if test="item.bidTermValue == null">
					DEFAULT ,
				</if>
				<if test="item.bidTerm != null">
					#{item.bidTerm} ,
				</if>
				<if test="item.bidTerm == null">
					DEFAULT ,
				</if>
				<if test="item.borrowName != null and item.borrowName != ''">
					#{item.borrowName} ,
				</if>
				<if test="item.borrowName == null or item.borrowName == ''">
					DEFAULT ,
				</if>
				<if test="item.borrowCardId != null and item.borrowCardId != ''">
					#{item.borrowCardId} ,
				</if>
				<if test="item.borrowCardId == null or item.borrowCardId == ''">
					DEFAULT ,
				</if>
				<if test="item.bidLoanUse != null">
					#{item.bidLoanUse} ,
				</if>
				<if test="item.bidLoanUse == null">
					DEFAULT ,
				</if>
				<if test="item.biddRepaymentWay != null">
					#{item.biddRepaymentWay} ,
				</if>
				<if test="item.biddRepaymentWay == null">
					DEFAULT ,
				</if>
				<if test="item.payeeName != null and item.payeeName != ''">
					#{item.payeeName} ,
				</if>
				<if test="item.payeeName == null or item.payeeName == ''">
					DEFAULT ,
				</if>
				<if test="item.payeeBankCard != null and item.payeeBankCard != ''">
					#{item.payeeBankCard} ,
				</if>
				<if test="item.payeeBankCard == null or item.payeeBankCard == ''">
					DEFAULT ,
				</if>
				<if test="item.payeeBankName != null and item.payeeBankName != ''">
					#{item.payeeBankName} ,
				</if>
				<if test="item.payeeBankName == null or item.payeeBankName == ''">
					DEFAULT ,
				</if>
				<if test="item.bidProjectNo != null and item.bidProjectNo != ''">
					#{item.bidProjectNo} ,
				</if>
				<if test="item.bidProjectNo == null or item.bidProjectNo == ''">
					DEFAULT ,
				</if>
				<if test="item.investTel != null">
					#{item.investTel} ,
				</if>
				<if test="item.investTel == null">
					DEFAULT ,
				</if>
				<if test="item.investEmail != null and item.investEmail != ''">
					#{item.investEmail} ,
				</if>
				<if test="item.investEmail == null or item.investEmail == ''">
					DEFAULT ,
				</if>
				<if test="item.borrowAddress != null and item.borrowAddress != ''">
					#{item.borrowAddress} ,
				</if>
				<if test="item.borrowAddress == null or item.borrowAddress == ''">
					DEFAULT ,
				</if>
				<if test="item.bidBillNo != null and item.bidBillNo != ''">
					#{item.bidBillNo} ,
				</if>
				<if test="item.bidBillNo == null or item.bidBillNo == ''">
					DEFAULT ,
				</if>
				<if test="item.state != null">
					#{item.state} ,
				</if>
				<if test="item.state == null">
					DEFAULT ,
				</if>
			<choose>
				<when test="item.createTime != null">
					#{item.createTime} ,
				</when>
				<otherwise>
					NOW() ,
				</otherwise>
			</choose>
			<choose>
				<when test="item.modifyTime != null">
					#{item.modifyTime} 
				</when>
				<otherwise>
					NOW() 
				</otherwise>
			</choose>
        )
        </foreach>
	</insert>
	
	<!-- 更新字段列表 -->
	<sql id="update_sql">
		<set>
			<if test="contractCode != null and contractCode != ''">
				contract_code = #{contractCode} ,
			</if>
			<if test="bidId != null">
			bid_id = #{bidId} ,
		   </if>
			<if test="bidInvestId != null">
			bid_invest_id = #{bidInvestId} ,
		   </if>
			<if test="contractType != null">
			contract_type = #{contractType} ,
		   </if>
			<if test="contractTemplateId != null">
			contract_template_id = #{contractTemplateId} ,
		   </if>
			<if test="effectiveDate != null">
				effective_date = #{effectiveDate} ,
			</if>
			<if test="expireDate != null">
				expire_date = #{expireDate} ,
			</if>
			<if test="investUserId != null">
			invest_user_id = #{investUserId} ,
		   </if>
			<if test="investName != null and investName != ''">
				invest_name = #{investName} ,
			</if>
			<if test="investCardId != null and investCardId != ''">
				invest_card_id = #{investCardId} ,
			</if>
			<if test="investAmount != null ">
				invest_amount =invest_amount + #{investAmount} ,
			</if>
			<if test="investCouponKValue != null ">
				invest_coupon_k_value = #{investCouponKValue} ,
			</if>
			<if test="investCouponJValue != null ">
				invest_coupon_j_value = #{investCouponJValue} ,
			</if>
			<if test="bidName != null and bidName != ''">
				bid_name = #{bidName} ,
			</if>
			<if test="bidRate != null ">
				bid_rate =bid_rate + #{bidRate} ,
			</if>
			<if test="bidAmount != null ">
				bid_amount =bid_amount + #{bidAmount} ,
			</if>
			<if test="bidTermValue != null">
			bid_term_value = #{bidTermValue} ,
		   </if>
			<if test="bidTerm != null">
			bid_term = #{bidTerm} ,
		   </if>
			<if test="borrowName != null and borrowName != ''">
				borrow_name = #{borrowName} ,
			</if>
			<if test="borrowCardId != null and borrowCardId != ''">
				borrow_card_id = #{borrowCardId} ,
			</if>
			<if test="bidLoanUse != null">
			bid_loan_use = #{bidLoanUse} ,
		   </if>
			<if test="biddRepaymentWay != null">
			bidd_repayment_way = #{biddRepaymentWay} ,
		   </if>
			<if test="payeeName != null and payeeName != ''">
				payee_name = #{payeeName} ,
			</if>
			<if test="payeeBankCard != null and payeeBankCard != ''">
				payee_bank_card = #{payeeBankCard} ,
			</if>
			<if test="payeeBankName != null and payeeBankName != ''">
				payee_bank_name = #{payeeBankName} ,
			</if>
			<if test="bidProjectNo != null and bidProjectNo != ''">
				bid_project_no = #{bidProjectNo} ,
			</if>
			<if test="investTel != null">
			invest_tel = #{investTel} ,
		   </if>
			<if test="investEmail != null and investEmail != ''">
				invest_email = #{investEmail} ,
			</if>
			<if test="borrowAddress != null and borrowAddress != ''">
				borrow_address = #{borrowAddress} ,
			</if>
			<if test="bidBillNo != null and bidBillNo != ''">
				bid_bill_no = #{bidBillNo} ,
			</if>
			<if test="state != null">
			state = #{state} ,
		   </if>
			<if test="createTime != null">
				create_time = #{createTime} ,
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime} 
			</if>
		</set>
	</sql>
    
	<!-- 更新 -->
	<update id="update">
		UPDATE  con_info
		<include refid="update_sql"/>
		<![CDATA[
		WHERE 
			id = #{id} 
		]]>
	</update>

	<!-- 删除 -->
	<delete id="delete">
		<![CDATA[
		DELETE FROM con_info 
		WHERE
			id = #{id} 
		]]>
	</delete>
    
	<!-- 根据ID查询 -->
	<select id="getById" resultMap="_ConInfo">
		SELECT <include refid="columns" />
		<![CDATA[
		FROM con_info 
		WHERE 1 = 1
			AND id = #{id}
		]]>
	</select>
	
	<!-- 查询条件 -->
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	  
			1 = 1    				
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="contractCode != null and contractCode !=''">
				AND contract_code = #{contractCode}
			</if>
			<if test="bidId != null">
				AND bid_id = #{bidId}
			</if>
			<if test="bidInvestId != null">
				AND bid_invest_id = #{bidInvestId}
			</if>
			<if test="contractType != null">
				AND contract_type = #{contractType}
			</if>
			<if test="contractTemplateId != null">
				AND contract_template_id = #{contractTemplateId}
			</if>
			<if test="effectiveDateBegin != null">
				AND effective_date >= #{effectiveDateBegin}
			</if>
			<if test="effectiveDateEnd != null">
				AND effective_date &lt;= #{effectiveDateEnd}
			</if>
			<if test="expireDateBegin != null">
				AND expire_date >= #{expireDateBegin}
			</if>
			<if test="expireDateEnd != null">
				AND expire_date &lt;= #{expireDateEnd}
			</if>
			<if test="investUserId != null">
				AND invest_user_id = #{investUserId}
			</if>
			<if test="investName != null and investName !=''">
				AND invest_name = #{investName}
			</if>
			<if test="investCardId != null and investCardId !=''">
				AND invest_card_id = #{investCardId}
			</if>
			<if test="investAmount != null">
				AND invest_amount = #{investAmount}
			</if>
			<if test="investCouponKValue != null">
				AND invest_coupon_k_value = #{investCouponKValue}
			</if>
			<if test="investCouponJValue != null">
				AND invest_coupon_j_value = #{investCouponJValue}
			</if>
			<if test="bidName != null and bidName !=''">
				AND bid_name = #{bidName}
			</if>
			<if test="bidRate != null">
				AND bid_rate = #{bidRate}
			</if>
			<if test="bidAmount != null">
				AND bid_amount = #{bidAmount}
			</if>
			<if test="bidTermValue != null">
				AND bid_term_value = #{bidTermValue}
			</if>
			<if test="bidTerm != null">
				AND bid_term = #{bidTerm}
			</if>
			<if test="borrowName != null and borrowName !=''">
				AND borrow_name = #{borrowName}
			</if>
			<if test="borrowCardId != null and borrowCardId !=''">
				AND borrow_card_id = #{borrowCardId}
			</if>
			<if test="bidLoanUse != null">
				AND bid_loan_use = #{bidLoanUse}
			</if>
			<if test="biddRepaymentWay != null">
				AND bidd_repayment_way = #{biddRepaymentWay}
			</if>
			<if test="payeeName != null and payeeName !=''">
				AND payee_name = #{payeeName}
			</if>
			<if test="payeeBankCard != null and payeeBankCard !=''">
				AND payee_bank_card = #{payeeBankCard}
			</if>
			<if test="payeeBankName != null and payeeBankName !=''">
				AND payee_bank_name = #{payeeBankName}
			</if>
			<if test="bidProjectNo != null and bidProjectNo !=''">
				AND bid_project_no = #{bidProjectNo}
			</if>
			<if test="investTel != null">
				AND invest_tel = #{investTel}
			</if>
			<if test="investEmail != null and investEmail !=''">
				AND invest_email = #{investEmail}
			</if>
			<if test="borrowAddress != null and borrowAddress !=''">
				AND borrow_address = #{borrowAddress}
			</if>
			<if test="bidBillNo != null and bidBillNo !=''">
				AND bid_bill_no = #{bidBillNo}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="createTimeBegin != null">
				AND create_time >= #{createTimeBegin}
			</if>
			<if test="createTimeEnd != null">
				AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="modifyTimeBegin != null">
				AND modify_time >= #{modifyTimeBegin}
			</if>
			<if test="modifyTimeEnd != null">
				AND modify_time &lt;= #{modifyTimeEnd}
			</if>
		</where>
	</sql>
		
	<!-- 查询数量 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(ID) FROM con_info 
		<include refid="findPage_where"/>    
	</select>
    
	<!-- 查询分页 -->
	<select id="findPage" resultMap="_ConInfo">
		SELECT <include refid="columns" />
		FROM con_info 
		<include refid="findPage_where"/>
		<if test="sortColumns != null and sortColumns !=''">
		ORDER BY ${sortColumns}
		</if>
	</select>

	<!-- 根据条件获取单条合同信息 -->
	<select id="findConInfo" resultMap="_ConInfo">
		SELECT <include refid="columns" />
		FROM con_info
		<include refid="findPage_where"/>
	</select>

	<!-- 根据投资记录id集合获取相关合同信息 -->
	<select id="findConInfoListByInvestIds" resultMap="_ConInfo">
		SELECT <include refid="columns" />
		FROM con_info
		WHERE
		bid_invest_id IN
		<foreach collection="list" open="(" separator="," close=")" item="uid">
			${uid}
		</foreach>
		AND state = 1
	</select>
</mapper>
