<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费者关系启动时检查 -->
    <dubbo:consumer check="false" timeout="500000" retries="0"/>
    
	<dubbo:application name="user-application-provider" />
	<!-- 使用zookeeper广播注册中心暴露服务地址 -->
	<dubbo:registry address="zookeeper://${dubbo.zookeeper.address}" timeout="${dubbo.zookeeper.timeout}" />

	<!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
	<dubbo:annotation package="com.hongkun.finance.user.service" />
	<dubbo:annotation package="com.hongkun.finance.user.facade" />

	<!-- 这里可以声明多种协议，rest的协议应该使用内嵌的tomcat -->
	<dubbo:protocol name="dubbo" port="${dubbo.port}" />
</beans>
